// --- Image links --- //

// Main logo:

$logo: url('../img/logo.png');

// Default flat icons:

$icon-1: url('../img/line-icon-1.svg');
$icon-2: url('../img/line-icon-2.svg');
$icon-3: url('../img/line-icon-3.svg');
$icon-4: url('../img/line-icon-4.svg');
$icon-5: url('../img/line-icon-5.svg');
$icon-6: url('../img/line-icon-6.svg');
$icon-7: url('../img/line-icon-7.svg');
$icon-8: url('../img/line-icon-8.svg');

// Custom flat icons:

// * Project
$icon-achievements: url('../img/icons/project/icon-achievements.png');
$icon-description: url('../img/icons/project/icon-description.png');
$icon-design: url('../img/icons/project/icon-design.png');
$icon-glossary: url('../img/icons/project/icon-glossary.png');
$icon-notebook: url('../img/icons/project/icon-notebook.png');

// * Lab
$icon-demonstrate: url('../img/icons/lab/icon-demonstrate.png');
$icon-hardware: url('../img/icons/lab/icon-hardware.png');
$icon-lab-book: url('../img/icons/lab/icon-lab-book.png');
$icon-overview: url('../img/icons/lab/icon-overview.png');
$icon-proof-of-concept: url('../img/icons/lab/icon-proof-of-concept.png');
$icon-safety: url('../img/icons/lab/icon-safety.png');
$icon-scaling-up: url('../img/icons/lab/icon-scaling-up.png');

// * Parts
$icon-basic: url('../img/icons/parts/icon-basic.png');
$icon-collection: url('../img/icons/parts/icon-collection.png');
$icon-composite: url('../img/icons/parts/icon-composite.png');
$icon-measurement: url('../img/icons/parts/icon-measurement.png');

// * Modelling
$icon-modelling-1: url('../img/icons/modelling/icon-modelling-1.png');
$icon-modelling-2: url('../img/icons/modelling/icon-modelling-2.png');

// * Human Practices
$icon-blog: url('../img/icons/human_practices/icon-blog.png');
$icon-engagement: url('../img/icons/human_practices/icon-engagement.png');
$icon-gold: url('../img/icons/human_practices/icon-gold.png');
$icon-integrated-practices: url('../img/icons/human_practices/icon-integrated-practices.png');
$icon-our-story: url('../img/icons/human_practices/icon-our-story.png');
$icon-silver: url('../img/icons/human_practices/icon-silver.png');
$icon-vlog: url('../img/icons/human_practices/icon-vlog.png');

// * Entrepreneurship
$icon-alphabrick: url('../img/icons/entrepreneurship/icon-alphabrick.png');
$icon-dental: url('../img/icons/entrepreneurship/icon-dental.png');
$icon-entrepreneurship-general: url('../img/icons/entrepreneurship/icon-entrepreneurship-general.png');
$icon-software: url('../img/icons/entrepreneurship/icon-software.png');

// * People
$icon-attributions: url('../img/icons/people/icon-attributions.png');
$icon-collaborations: url('../img/icons/people/icon-collaborations.png');
$icon-sponsors: url('../img/icons/people/icon-sponsors.png');
$icon-team: url('../img/icons/people/icon-team.png');