// --- Colors, general ---

$color-grey-very-dark: #1b1d1e; // grey dark
$color-grey-dark: #2e3233; // grey dark
$color-grey-less-dark: #454545; // grey less dark
$color-grey-medium: #7b7b7b; // grey medium
$color-grey-light: #e2e3df; // grey light
$color-blue-base: #284cb9; // blue base colour
$color-blue-I: #004573; // blue I
$color-blue-II: #1d3c61; // blue II
$color-blue-III: #43ceff; // blue III
$color-blue-IV: #0100dd; // blue IV
$color-blue-V: #5591d3; // blue V
$color-blue-VI: #004574; // blue VI
$color-white: #ffffff; // white
$color-black: #000000; // black



// --- Large screen nav colors ---

$color-nav-background: #004574; // blue VI
$color-nav-graphical: #e2e3df; // grey light

$color-nav-link: #ffffff; // white
$color-nav-link-hover: #c3c4c0; // grey light-medium
$color-nav-link-active: #ff9c00; // orange

$color-nav-group-link: #ffffff; // white
$color-nav-group-link-hover: #ff9c00; // orange

$color-nav-panel-link: #ffffff; // white
$color-nav-panel-description: #c3c4c0; // grey light-medium

$color-nav-back: #c3c4c0; // grey light-medium
$color-nav-back-hover: #7b7b7b; // grey medium

$color-nav-see-all: #c3c4c0; // grey light-medium
$color-nav-see-all-hover: #7b7b7b; // grey medium

$color-nav-bottom-panel: #004574; // blue VI
$color-nav-bottom-panel-hover: #c3c4c0; // grey light-medium



// --- Function buttons colors ---

$color-search-trigger: #ffffff; // white
$color-nav-trigger: #ffffff; // white



// --- Main content colors ---

$color-main-content-bgd: #e7f0f9; // very subtle blue



// --- Fonts ---

$menu-font: 'Open Sans', sans-serif;



// --- Logo ---

$logo-y-S: 18px;
$logo-y-L: 26px;


// Adaptation to varied logo sizes
$logo-height-int: 45; /* change this to actual logo height */
$original-height-int: 23;
$addition-factor: ($logo-height-int - $original-height-int)/2;
$subtraction-factor: -1*$addition-factor/2;
$nav-items-y-adj: 0px - $subtraction-factor;

$logo-y-S-adj: $logo-y-S + $subtraction-factor;
$logo-y-L-adj: $logo-y-L + $subtraction-factor;

// Logo width
$logo-width: 250px;
$logo-move-left-adjust: -1*$logo-width/2;



// --- Header size ---

$header-height-S: 60px + $addition-factor; // HAS A COUNTERPART IN menu.js, MUST KEEP IN SYNC!
$header-height-L: 80px + $addition-factor; // HAS A COUNTERPART IN menu.js, MUST KEEP IN SYNC!



// --- Navigation size ---

$nav-width-S: 260px;



/// --- Navigation other settings ---

$nav-menu-links-offset: 80px;
$nav-menu-link-gap: 12px;
$nav-menu-buttons-offset: $nav-menu-link-gap * 2;

$nav-menu-buttons-top-L: 18px;
$nav-menu-buttons-top-S: $nav-menu-buttons-top-L - ($header-height-L - $header-height-S)/2;


// --- Search size ---

$search-height-S: 50px;
$search-height-L: 100px;



// --- Navigation bottom bar size ---

$nav-bottom-bar-height: 60px;



// --- Header (nav bar) animation ---

// Timing
$htrtl: 0.45s; // Header transition time long
$htrtm: 0.15s; // Header transition time medium
$htrts: 0.1s; // Header transition time short

// Position changes
$shrink-header-height-S-diff: 12px;
$shrink-header-height-L-diff: 32px;
$shrink-header-height-S: $header_height_S - $shrink-header-height-S-diff;
$shrink-header-height-L: $header_height_L - $shrink-header-height-L-diff;

$logo-y-new: $logo-y-L-adj - $shrink-header-height-L-diff;

$logo-replacer-y: (-1*$logo-height-int - 15) + 0px;
$logo-replacer-y-new-S: ($shrink-header-height-S - $logo-height-int)/2;
$logo-replacer-y-new-L: ($shrink-header-height-L - $logo-height-int)/2;

$nav-menu-buttons-top-L-new: $nav-menu-buttons-top-L - $shrink-header-height-L-diff;
$nav-menu-buttons-top-L-new: $nav-menu-buttons-top-S - $shrink-header-height-S-diff;

$nav-menu-links-y-new: 0px - $shrink-header-height-L-diff;


// --- Z-index ---

$below-content: 1;
$content: 2;
$above-content: 3;



// --- Footer parameters ---
$footer-left-width: 30%;
$footer-center-width: 46%;
$footer-right-width: 22%;

$M_Footer: 880px;