// Extends the shared jade.
extends ../_shared/_shared



body

    block content

        // Header.
        header.cd-main-header
            a.cd-logo(href='http://2016.igem.org/Team:UCL')
                .img
                    .imagefix
            a.cd-logo.logo-replacer(href='http://2016.igem.org/Team:UCL')
                .img
                    .imagefix
            ul.cd-header-buttons
                li
                    a.cd-search-trigger(href='#cd-search')
                        | Search
                        span
                li
                    a.cd-nav-trigger(href='#cd-primary-nav')
                        | Menu
                        span
        // ---

        // Navigation.
        .cd-overlay
        nav.cd-nav
            ul#cd-primary-nav.cd-primary-nav.is-fixed
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Description
                    a(href='http://2016.igem.org/Team:UCL/Description') Project
                    ul#category-project.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-project-overview(href='http://2016.igem.org/Team:UCL/Description')
                                h3 Overview
                                p How are we approaching healthy ageing?
                        li
                            a.cd-nav-item.item-lungs(href='http://2016.igem.org/Team:UCL/Lungs')
                                h3 Lungs
                                p Gene therapy approach
                        li
                            a.cd-nav-item.item-gut(href='http://2016.igem.org/Team:UCL/Gut')
                                h3 Gut
                                p Lycopene probiotic
                        li
                            a.cd-nav-item.item-false-teeth(href='http://2016.igem.org/Team:UCL/Dental_hygiene')
                                h3 Teeth
                                p Redesigning the oral microbiome
                        li
                            a.cd-nav-item.item-heart(href='http://2016.igem.org/Team:UCL/Heart')
                                h3 Heart
                                p Healthy heart, healthy ageing
                        li
                            a.cd-nav-item.item-lubricant(href='http://2016.igem.org/Team:UCL/Lubricant')
                                h3 Cathater Lubricant
                                p Detecting and killing UTI causing bacteria
                        li
                            a.cd-nav-item.item-pest-control(href='http://2016.igem.org/Team:UCL/Vitellogenin')
                                h3 Pest Control
                                p Using oxidative stress to accelerate ageing
                        li
                            a.cd-nav-item.item-design(href='http://2016.igem.org/Team:UCL/Design')
                                h3 Design
                                p Engineering therapies of tomorrow
                        li
                            a.cd-nav-item.item-notebook(href='http://2016.igem.org/Team:UCL/Notebook')
                                h3 Notebook
                                p iGEM-ing all day, everyday
                        li
                            a.cd-nav-item.item-glossary(href='http://2016.igem.org/Team:UCL/Glossary')
                                h3 Glossary
                                p Explaining all the jargon used
                        li
                            a.cd-nav-item.item-achievements(href='http://2016.igem.org/Team:UCL/Achievements')
                                h3 Achievements
                                p See what Biosynthage are proud of!
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Overview
                    a(href='http://2016.igem.org/Team:UCL/Overview') Lab
                    ul#category-lab.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-lab-overview(href='http://2016.igem.org/Team:UCL/Overview')
                                h3 Overview
                                p Transferring concepts to the lab
                        li
                            a.cd-nav-item.item-proof-of-concept(href='http://2016.igem.org/Team:UCL/Proof')
                                h3 Proof of Concept
                                p Building systems that solve healthy ageing
                        li
                            a.cd-nav-item.item-demonstrate(href='http://2016.igem.org/Team:UCL/Demonstrate')
                                h3 Demonstrate
                                p The first step towards reality
                        li
                            a.cd-nav-item.item-lab-book(href='http://2016.igem.org/Team:UCL/Lab_book')
                                h3 Lab-book
                                p Find out what we did in the labs!
                        li
                            a.cd-nav-item.item-safety(href='http://2016.igem.org/Team:UCL/Safety')
                                h3 Safety
                                p Integrating safety into human based therapies
                        li
                            a.cd-nav-item.item-protocol(href='http://2016.igem.org/Team:UCL/Experiments')
                                h3 Protocol
                                p Methodology behind the data
                        li
                            a.cd-nav-item.item-results(href='http://2016.igem.org/Team:UCL/Results')
                                h3 Results
                                p See our data and outputs of our project
                li
                    a(href='http://2016.igem.org/Team:UCL/Parts') Parts
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Model
                    a(href='http://2016.igem.org/Team:UCL/Model') Modelling
                    ul#category-modelling.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-modelling-overview(href='http://2016.igem.org/Team:UCL/Model')
                                h3 Overview
                                p Simulating and optimising our devices
                        li
                            a.cd-nav-item.item-l-arginine(href='http://2016.igem.org/Team:UCL/Model/Larginine')
                                h3 L-arginine
                                p Modelling oral bacteria
                        li
                            a.cd-nav-item.item-xylitol(href='http://2016.igem.org/Team:UCL/Model/Xylolit')
                                h3 Xylitol
                                p Oscillatory behaviour
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Human_Practices
                    a(href='http://2016.igem.org/Team:UCL/Human_Practices') Human Practices
                    ul#category-human-practices.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-our-story(href='http://2016.igem.org/Team:UCL/Human_Practices')
                                h3 Our Story
                                p Biosynthage's journey
                        li
                            a.cd-nav-item.item-silver(href='http://2016.igem.org/Team:UCL/HP/Silver')
                                h3 Silver
                                p Building a bridge between Biosynthage and society
                        li
                            a.cd-nav-item.item-gold(href='http://2016.igem.org/Team:UCL/HP/Gold')
                                h3 Gold
                                p Integrating design with the world
                        li
                            a.cd-nav-item.item-integrated-practices(href='http://2016.igem.org/Team:UCL/Integrated_Practices')
                                h3 Integrated Practices
                                p Real world science
                        li
                            a.cd-nav-item.item-engagement(href='http://2016.igem.org/Team:UCL/Engagement')
                                h3 Engagement
                                p Bringing Biosynthage to people
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Entrepreneurship
                    a(href='http://2016.igem.org/Team:UCL/Entrepreneurship') Entrepreneurship
                    ul#category-entrepreneurship.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-entrepreneurship-general(href='http://2016.igem.org/Team:UCL/Entrepreneurship')
                                h3 Overview
                                p Bringing synthetic biology to the business world
                        li
                            a.cd-nav-item.item-alphabrick(href='http://2016.igem.org/Team:UCL/Alphabrick')
                                h3 AlphaBrick
                                p Making biobrick design easier
                        li
                            a.cd-nav-item.item-dental(href='http://2016.igem.org/Team:UCL/Xylitol')
                                h3 Sweet Tooth
                                p Engineering novel bioprocess for Xylitol production
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Team
                    a(href='http://2016.igem.org/Team:UCL/Team') People
                    ul#category-people.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-team(href='http://2016.igem.org/Team:UCL/Team')
                                h3 Team
                                p Meet the innovators of tomorrow
                        li
                            a.cd-nav-item.item-collaborations(href='http://2016.igem.org/Team:UCL/Collaborations')
                                h3 Collaborations
                                p Our iGEM community
                        li
                            a.cd-nav-item.item-sponsors(href='http://2016.igem.org/Team:UCL/Sponsors')
                                h3 Sponsors
                                p Without whom, would not be possible
                        li
                            a.cd-nav-item.item-attributions(href='http://2016.igem.org/Team:UCL/Attributions')
                                h3 Attributions
                                p To everyone involved with our journey
        #cd-search.cd-search
            form#cd-search-form(method="GET" action="https://www.google.co.uk/search?q=site:http://2016.igem.org/Team:UCL")
                button.btn.btn-primary(type='submit', form='cd-search-form', value='Submit')
                    i.icon-search.icon-white
                input(type='search', data-role="none", placeholder='Search...')
        // ---





        // Content goes here, like so --------
            {{UCL/TemplateBefore}}
            <html>
            <body>
            <main class="cd-main-content">
                <div id="main-content-container">
                    <!-- ACTUAL CONTENT-->
                    <h1>Sample title</h1>
                    <p>Sample paragraph</p></div>
            </main>
            </body>
            </html>
            {UCL/TemplateAfter}}
        // -----------------------------------
        block actual-content