// Extends the shared jade.
extends ../_shared/_shared



body

    block content

        // Header.
        header.cd-main-header
            a.cd-logo(href='http://2016.igem.org/Team:UCL')
                .img
                    .imagefix
            a.cd-logo.logo-replacer(href='http://2016.igem.org/Team:UCL')
                .img
                    .imagefix
            ul.cd-header-buttons
                li
                    a.cd-search-trigger(href='#cd-search')
                        | Search
                        span
                li
                    a.cd-nav-trigger(href='#cd-primary-nav')
                        | Menu
                        span
        // ---

        // Navigation.
        .cd-overlay
        nav.cd-nav
            ul#cd-primary-nav.cd-primary-nav.is-fixed
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Description
                    a(href='http://2016.igem.org/Team:UCL/Description') Project
                    ul#category-project.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-project-overview(href='http://2016.igem.org/Team:UCL/Description')
                                h3 Overview
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-lungs(href='http://2016.igem.org/Team:UCL/Lungs')
                                h3 Lungs
                                p Gene therapy approach
                        li
                            a.cd-nav-item.item-gut(href='http://2016.igem.org/Team:UCL/Gut')
                                h3 Gut
                                p Lycopene probiotic
                        li
                            a.cd-nav-item.item-false-teeth(href='http://2016.igem.org/Team:UCL/Dental_hygiene')
                                h3 False Teeth
                                p A thing of the past
                        li
                            a.cd-nav-item.item-heart(href='http://2016.igem.org/Team:UCL/Heart')
                                h3 Heart
                                p Healthy heart, healthy ageing
                        li
                            a.cd-nav-item.item-lubricant(href='http://2016.igem.org/Team:UCL/Lubricant')
                                h3 Cathater Lubricant
                                p Detecting and killing UTI causing bacteria
                        li
                            a.cd-nav-item.item-pest-control(href='http://2016.igem.org/Team:UCL/Vitellogenin')
                                h3 Pest control
                                p Vitellogenin
                        li
                            a.cd-nav-item.item-design(href='http://2016.igem.org/Team:UCL/Design')
                                h3 Design
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-notebook(href='http://2016.igem.org/Team:UCL/Notebook')
                                h3 Notebook
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-glossary(href='http://2016.igem.org/Team:UCL/Glossary')
                                h3 Glossary
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-achievements(href='http://2016.igem.org/Team:UCL/Achievements')
                                h3 Achievements
                                p Some more info goes here...
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Overview
                    a(href='http://2016.igem.org/Team:UCL/Overview') Lab
                    ul#category-lab.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-lab-overview(href='http://2016.igem.org/Team:UCL/Overview')
                                h3 Overview
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-proof-of-concept(href='http://2016.igem.org/Team:UCL/Proof')
                                h3 Proof of Concept
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-demonstrate(href='http://2016.igem.org/Team:UCL/Demonstrate')
                                h3 Demonstrate
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-lab-book(href='http://2016.igem.org/Team:UCL/Lab_book')
                                h3 Lab-book
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-safety(href='http://2016.igem.org/Team:UCL/Safety')
                                h3 Safety
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-scaling-up(href='http://2016.igem.org/Team:UCL/Scale_up')
                                h3 Scaling up
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-protocol(href='http://2016.igem.org/Team:UCL/Experiments')
                                h3 Protocol
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-results(href='http://2016.igem.org/Team:UCL/Results')
                                h3 Results
                                p Some more info goes here...
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Parts
                    a(href='http://2016.igem.org/Team:UCL/Parts') Parts
                    ul#category-parts.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-parts-overview(href='http://2016.igem.org/Team:UCL/Parts')
                                h3 Overview
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-basic(href='http://2016.igem.org/Team:UCL/Basic_Part')
                                h3 Basic Parts
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-composite(href='http://2016.igem.org/Team:UCL/Composite_Part')
                                h3 Composite Parts
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-collection(href='http://2016.igem.org/Team:UCL/Part_Collection')
                                h3 Collection
                                p Some more info goes here...
                li
                    a(href='http://2016.igem.org/Team:UCL/Model') Modelling
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Human_Practices
                    a(href='http://2016.igem.org/Team:UCL/Human_Practices') Human Practices
                    ul#category-human-practices.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-our-story(href='http://2016.igem.org/Team:UCL/Human_Practices')
                                h3 Our Story
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-silver(href='http://2016.igem.org/Team:UCL/HP/Silver')
                                h3 Silver
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-gold(href='http://2016.igem.org/Team:UCL/HP/Gold')
                                h3 Gold
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-integrated-practices(href='http://2016.igem.org/Team:UCL/Integrated_Practices')
                                h3 Integrated Practices
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-engagement(href='http://2016.igem.org/Team:UCL/Engagement')
                                h3 Engagement
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-vlog(href='http://2016.igem.org/Team:UCL/VLOG')
                                h3 Vlog
                                p Some more info goes here...
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Entrepreneurship
                    a(href='http://2016.igem.org/Team:UCL/Entrepreneurship') Entrepreneurship
                    ul#category-entrepreneurship.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-entrepreneurship-general(href='http://2016.igem.org/Team:UCL/Entrepreneurship')
                                h3 Overview
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-software(href='http://2016.igem.org/Team:UCL/Software')
                                h3 Software
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-alphabrick(href='http://2016.igem.org/Team:UCL/Alphabrick')
                                h3 AlphaBrick
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-dental(href='http://2016.igem.org/Team:UCL/Xylitol')
                                h3 Dental
                                p Xylitol
                li.has-children
                    // top-level page assumed: http://2016.igem.org/Team:UCL/Team
                    a(href='http://2016.igem.org/Team:UCL/Team') People
                    ul#category-people.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li
                            a.cd-nav-item.item-team(href='http://2016.igem.org/Team:UCL/Team')
                                h3 Team
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-collaborations(href='http://2016.igem.org/Team:UCL/Collaborations')
                                h3 Collaborations
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-sponsors(href='http://2016.igem.org/Team:UCL/Sponsors')
                                h3 Sponsors
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-attributions(href='http://2016.igem.org/Team:UCL/Attributions')
                                h3 Attributions
                                p Some more info goes here...
        #cd-search.cd-search
            form#cd-search-form(method="GET" action="https://www.google.co.uk/search?q=site:http://2016.igem.org/Team:UCL")
                input(type='search', data-role="none", placeholder='Search...')
        // ---





        // Content goes here, like so --------
            block actual-content
                main.cd-main-content
                            .container
                                // ACTUAL CONTENT
        // -----------------------------------
        block actual-content