// Does NOT extend a jade.



html

    body

        // CONTENT:
        block content

            // Content.
            // [CONTENT WAS HERE]
            // ---

            // FOOTER:
            block footer
                // Footer
                include ../_shared/_footer



        // END-OF-BODY SCRIPTS:
        block end-of-body-scripts
            // --- CUSTOM ---
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.js&action=raw&ctype=text/javascript')
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/nav-shrink.js&action=raw&ctype=text/javascript')