<!-- Does NOT extend a jade.-->
<html>
<body><!-- Content.--><!-- [CONTENT CAME HERE]--><!-- -----><!-- Footer--><!-- Footer - used via "insert"-->
<footer id="footer" class="footer-distributed">
    <div class="footer-left"><h3>BIO<span>SYNTH</span>AGE</h3>
        <p class="footer-company-name">BioSynthAge, Evgeny Saveliev, 2016</p>
        <div class="footer-big-link"><a href="#"><i class="fa circular fa-map-marker"></i></a>
            <p><span>University College London, Gower St</span>London, United Kingdom<span>WC1E 6BT</span></p></div>
        <div class="footer-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                class="fa fa-github"></i></a><a href="mailto:ucligem2016@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
    <div class="footer-right">
        <div class="footer-section group">
            <div class="col span_1_of_3"><span>Project</span>
                <div><a href="#" class="std-link">Description</a></div>
                <div><a href="#" class="std-link">Modelling</a></div>
                <div><a href="#" class="std-link">Parts</a></div>
                <div><a href="#" class="std-link">Notebook</a></div>
            </div>
            <div class="col span_1_of_3"><span>Human Practices</span>
                <div><a href="#" class="std-link">Our Story</a></div>
                <div><a href="#" class="std-link">Gold</a></div>
                <div><a href="#" class="std-link">Silver</a></div>
                <div><a href="#" class="std-link">Integrated</a></div>
            </div>
            <div class="col span_1_of_3"><span>Team</span>
                <div><a href="#" class="std-link">Team</a></div>
                <div><a href="#" class="std-link">Attributions</a></div>
                <div><a href="#" class="std-link">Achievements</a></div>
            </div>
        </div>
    </div><!--.footer-right
    div
        a(href='#')
            i.fa.circular.fa-map-marker
        p
            span University College London, Gower St
            | London, United Kingdom
            span WC1E 6BT
    div
        a(href='#')
            i.fa.circular.fa-envelope
        p
            a(href='mailto:ucligem2016@gmail.com')
                span ucligem2016
                span @gmail.com--></footer><!-- END OF BODY SCRIPTS--><!-- CUSTOM SCRIPTS-->
<script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.js&amp;action=raw&amp;ctype=text/javascript"></script>
<!--script(src='./page/js/custom/menu.js')-->
<script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/nav-shrink.js&amp;action=raw&amp;ctype=text/javascript"></script>
<!--script(src='./page/js/custom/nav-shrink.js')--></body>
</html>