// Does NOT extend a jade.



html

    body

        // CONTENT:
        block content

            // Content.
            // [CONTENT WAS HERE]
            // ---

            // FOOTER:
            block footer
                // Footer
                include ../_shared/_footer



        // END-OF-BODY SCRIPTS:
        block end-of-body-scripts
            // --- CUSTOM ---
            // Menu.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.js&action=raw&ctype=text/javascript')
            // Navigation (menu) shrinking.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/nav-shrink.js&action=raw&ctype=text/javascript')
            // Vertical scroll structure.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.js&action=raw&ctype=text/javascript')
            // Flew-based.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/flew-based.js&action=raw&ctype=text/javascript')
            // Landing carousel.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-landing-carousel.js&action=raw&ctype=text/javascript')