extends ../_shared/_shared

head
    block fonts
        // Fonts
        // Shared fonts:
        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/fonts.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./_shared/css/fonts.css')

    block stylesheets

        // STYLESHEETS

        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/footer.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./_shared/css/footer.css')

        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/reset.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./page/css/reset.css')

        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./page/css/menu.css')

        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/main-content.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./page/css/main-content.css')

        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./_shared/css/vertical-scroll-structure.css')

    block scripts

        // HEADER SCRIPTS - See more scripts in the end of body

        // jQuery, a jQuery mobile compatible latest version.
        script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery-2.1.4.min.js&action=raw&ctype=text/javascript')
        //script(src='./_shared/js/jquery-2.1.4.min.js')

        // jQuery mobile 1.4.5 with theme-less CSS.
        link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.mobile.structure-1.4.5.min.css&action=raw&ctype=text/css')
        //link(rel='stylesheet', href='./page/css/jquery-mobile/jquery.mobile.structure-1.4.5.min.css')
        script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.mobile.min.js&action=raw&ctype=text/javascript')
        //script(src='./page/js/jquery.mobile.min.js')

        // Modernizr is allowed in the head, as it's a library.
        script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/modernizr.min.js&action=raw&ctype=text/javascript')
        //script(src='./page/js/modernizr.min.js')

        // Page Scroll 2 ID plugin (for vertical scrolling navigation)
        script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.malihu.PageScroll2id.min.js&action=raw&ctype=text/javascript')
        //script(src='./_shared/js/jquery.malihu.PageScroll2id.min.js')

        // CUSTOM SCRIPTS

        // ESS search refs.
        script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-search.js&action=raw&ctype=text/javascript')
        //script(src='./_shared/js/custom/ess-search.js')

        // ESS search refs.
        script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.js&action=raw&ctype=text/javascript')
        //script(src='./_shared/js/custom/ess-search.js')







body

    block content

        // Header.
        header.cd-main-header
            a.cd-logo(href='#')
                .img
                    .imagefix
            a.cd-logo.logo-replacer(href='#')
                .img
                    .imagefix
            ul.cd-header-buttons
                li
                    a.cd-search-trigger(href='#cd-search')
                        | Search
                        span
                li
                    a.cd-nav-trigger(href='#cd-primary-nav')
                        | Menu
                        span
        // ---

        // Navigation.
        .cd-overlay
        nav.cd-nav
            ul#cd-primary-nav.cd-primary-nav.is-fixed
                li.has-children
                    a(href='#') Project
                    ul#category-project.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Project
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Description
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Oxidative Stress
                                p The root of the problem
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Accelerating Ageing
                                p Pest Control
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 False Teeth
                                p A thing of the past
                        li
                            a.cd-nav-item.item-5(href='#')
                                h3 Grey Love
                                p It does not have to be dangerous
                        li
                            a.cd-nav-item.item-6(href='#')
                                h3 Design
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-7(href='#')
                                h3 Notebook
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-8(href='#')
                                h3 Glossary
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-9(href='#')
                                h3 Achievements
                                p Some more info goes here...
                li.has-children
                    a(href='#') Lab
                    ul#category-lab.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Lab
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Overview
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Proof of Concept
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Demonstrate
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Hardware
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-5(href='#')
                                h3 Lab-book
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-6(href='#')
                                h3 Safety
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-7(href='#')
                                h3 Scaling up
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-8(href='#')
                                h3 Protocol
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-9(href='#')
                                h3 Results
                                p Some more info goes here...
                li.has-children
                    a(href='#') Parts
                    ul#category-parts.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Parts
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Basic Parts
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Composite Parts
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Collection
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Measurement
                                p Some more info goes here...
                li
                    a(href='#') Modelling
                li.has-children
                    a(href='#') Human Practices
                    ul#category-human-practices.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Human Practices
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Our Story
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Silver
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Gold
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Integrated Practices
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-5(href='#')
                                h3 Engagement
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-6(href='#')
                                h3 Vlog
                                p Some more info goes here...
                li.has-children
                    a(href='#') Entrepreneurship
                    ul#category-entrepreneurship.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Entrepreneurship
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 [Placeholder]
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Software
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 AlphaBrick
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Dental
                                p Some more info goes here...
                li.has-children
                    a(href='#') People
                    ul#category-people.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View People
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Team
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Collaborations
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Sponsors
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Attributions
                                p Some more info goes here...
        #cd-search.cd-search
            form#cd-search-form(method="GET" action="https://www.google.co.uk/search?q=site:http://2016.igem.org/Team:UCL")
                input(type='search', data-role="none", placeholder='Search...')
        // ---





        // Content goes here, like so --------
            block actual-content
                main.cd-main-content
                            .container
                                // ACTUAL CONTENT
        // -----------------------------------
        block actual-content