<!-- Does NOT extend a jade.-->
<html>
<body><!-- Content.--><!-- [CONTENT CAME HERE]--><!-- -----><!-- Footer--><!-- Footer - used via "insert"-->
<footer id="footer" class="footer-distributed">
    <div class="footer-left"><h3>BIO<span>SYNTH</span>AGE</h3>
        <p class="footer-links"><a href="#">Home</a> · <a href="#">Vlog</a> · <a href="#">Demonstration</a> · <a
                href="#">Team</a> · <a href="#">Contact</a></p>
        <p class="footer-company-name">BioSynthAge, Evgeny Saveliev © 2016</p>
        <div class="footer-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
                class="fa fa-github"></i></a></div>
    </div>
    <div class="footer-center">
        <div class="footer-section group">
            <div class="col span_1_of_3"><span>Human Practices</span>
                <div><a href="#" class="std-link">Silver</a></div>
                <div><a href="#" class="std-link">Gold</a></div>
                <div><a href="#" class="std-link">Integrated Practices</a></div>
                <div><a href="#" class="std-link">Engagement</a></div>
            </div>
            <div class="col span_1_of_3"><span>Awards</span>
                <div><a href="#" class="std-link">Entrepreneurship</a></div>
                <div><a href="#" class="std-link">Hardware</a></div>
                <div><a href="#" class="std-link">Software</a></div>
                <div><a href="#" class="std-link">Measurement</a></div>
                <div><a href="#" class="std-link">Model</a></div>
            </div>
            <div class="col span_1_of_3"><span>Find out more</span>
                <div><a href="#" class="std-link">Safety</a></div>
                <div><a href="#" class="std-link">Attributions</a></div>
                <div><a href="#" class="std-link">Collaborations</a></div>
            </div>
        </div>
    </div>
    <div class="footer-right">
        <div><a href="#"><i class="fa circular fa-map-marker"></i></a>
            <p><span>University College London, Gower St</span>London, United Kingdom<span>WC1E 6BT</span></p></div>
        <div><a href="#"><i class="fa circular fa-phone"></i></a>
            <p>+44 (0)20 7679 2000</p></div>
        <div><a href="#"><i class="fa circular fa-envelope"></i></a>
            <p><a href="mailto:ucligem2016@gmail.com"><span>ucligem2016</span><span>@gmail.com</span></a></p></div>
    </div>
</footer><!-- END OF BODY SCRIPTS--><!-- CUSTOM SCRIPTS-->
<script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.js&amp;action=raw&amp;ctype=text/javascript"></script>
<!--script(src='./page/js/custom/menu.js')-->
<script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/nav-shrink.js&amp;action=raw&amp;ctype=text/javascript"></script>
<!--script(src='./page/js/custom/nav-shrink.js')--></body>
</html>