<!DOCTYPE html>
<html lang="en" class="no-js"><!-- HEAD:-->
<head><!-- Meta:-->
    <meta charset="UTF-8">
    <meta name="keywords" content="iGEM, UCL, 2016, BioSynthAge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UCL iGEM 2016 | BioSynthAge</title><!-- ----->

    <!-- Favicon:-->
    <div id="favicon-array">
        <link rel="apple-touch-icon" sizes="57x57"
              href="http://2016.igem.org/wiki/images/a/a3/T--UCL--apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"
              href="http://2016.igem.org/wiki/images/f/f6/T--UCL--apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"
              href="http://2016.igem.org/wiki/images/8/80/T--UCL--apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"
              href="http://2016.igem.org/wiki/images/8/85/T--UCL--apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114"
              href="http://2016.igem.org/wiki/images/c/c8/T--UCL--apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120"
              href="http://2016.igem.org/wiki/images/9/9b/T--UCL--apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144"
              href="http://2016.igem.org/wiki/images/c/cb/T--UCL--apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152"
              href="http://2016.igem.org/wiki/images/6/62/T--UCL--apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180"
              href="http://2016.igem.org/wiki/images/9/96/T--UCL--apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
              href="http://2016.igem.org/wiki/images/8/84/T--UCL--android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
              href="http://2016.igem.org/wiki/images/e/eb/T--UCL--favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96"
              href="http://2016.igem.org/wiki/images/5/57/T--UCL--favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16"
              href="http://2016.igem.org/wiki/images/b/b0/T--UCL--favicon-16x16.png">
        <meta name="msapplication-TileImage"
              content="http://2016.igem.org/wiki/images/6/67/T--UCL--ms-icon-144x144.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="theme-color" content="#ffffff">
    </div><!-- (Local)link(rel='apple-touch-icon', sizes='57x57', href='./_shared/img/favicon/apple-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='./_shared/img/favicon/apple-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='./_shared/img/favicon/apple-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='./_shared/img/favicon/apple-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='./_shared/img/favicon/apple-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='./_shared/img/favicon/apple-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='./_shared/img/favicon/apple-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='./_shared/img/favicon/apple-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='./_shared/img/favicon/apple-icon-180x180.png')
link(rel='icon', type='image/png', sizes='192x192', href='./_shared/img/favicon/android-icon-192x192.png')
link(rel='icon', type='image/png', sizes='32x32', href='./_shared/img/favicon/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='96x96', href='./_shared/img/favicon/favicon-96x96.png')
link(rel='icon', type='image/png', sizes='16x16', href='./_shared/img/favicon/favicon-16x16.png')
meta(name='msapplication-TileImage', content='./_shared/img/favicon/ms-icon-144x144.png')--><!-- ----->

    <!-- Top level CSS and JS:--><!-- ESS loader.-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-loader.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./_shared/css/ess-loader.css')-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-loader.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./_shared/js/custom/ess-loader.js')--><!-- ESS favicon setter.-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-favicon-setter.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./_shared/js/custom/ess-favicon-setter.js')--><!-- iGem style override.-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/igem-override.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./_shared/css/igem-override.css')--><!-- ----->
    <!-- Overriding jade blocks:--><!-- Fonts--><!-- Shared fonts:-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/fonts.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./_shared/css/fonts.css')--><!-- STYLESHEETS-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/footer.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./_shared/css/footer.css')-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/reset.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./page/css/reset.css')-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./page/css/menu.css')-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/main-content.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./page/css/main-content.css')-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./_shared/css/vertical-scroll-structure.css')-->
    <!-- HEADER SCRIPTS - See more scripts in the end of body-->
    <!-- jQuery, a jQuery mobile compatible latest version.-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery-2.1.4.min.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./_shared/js/jquery-2.1.4.min.js')--><!-- jQuery mobile 1.4.5 with theme-less CSS.-->
    <link rel="stylesheet"
          href="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.mobile.structure-1.4.5.min.css&amp;action=raw&amp;ctype=text/css">
    <!--link(rel='stylesheet', href='./page/css/jquery-mobile/jquery.mobile.structure-1.4.5.min.css')-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.mobile.min.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./page/js/jquery.mobile.min.js')--><!-- Modernizr is allowed in the head, as it's a library.-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/modernizr.min.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./page/js/modernizr.min.js')--><!-- Page Scroll 2 ID plugin (for vertical scrolling navigation)-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.malihu.PageScroll2id.min.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./_shared/js/jquery.malihu.PageScroll2id.min.js')--><!-- CUSTOM SCRIPTS--><!-- ESS search refs.-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-search.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./_shared/js/custom/ess-search.js')--><!-- ESS search refs.-->
    <script src="http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.js&amp;action=raw&amp;ctype=text/javascript"></script>
    <!--script(src='./_shared/js/custom/ess-search.js')-->


    <!-- ----->


</head><!-- BODY:-->
<body>
<div id="ess-loader-holder">
    <div class="ess-loader">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
<div id="body-loaded"><!-- Header.-->
    <header class="cd-main-header"><a href="#" class="cd-logo">
        <div class="img">
            <div class="imagefix"></div>
        </div>
    </a><a href="#" class="cd-logo logo-replacer">
        <div class="img">
            <div class="imagefix"></div>
        </div>
    </a>
        <ul class="cd-header-buttons">
            <li><a href="#cd-search" class="cd-search-trigger">Search<span></span></a></li>
            <li><a href="#cd-primary-nav" class="cd-nav-trigger">Menu<span></span></a></li>
        </ul>
    </header><!-- -----><!-- Navigation.-->
    <div class="cd-overlay"></div>
    <nav class="cd-nav">
        <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
            <li class="has-children"><a href="#">Project</a>
                <ul id="category-project" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View Project</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>Description</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Design</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-3"><h3>Notebook</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-4"><h3>Glossary</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-5"><h3>Achievements</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
            <li class="has-children"><a href="#">Lab</a>
                <ul id="category-lab" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View Lab</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>Overview</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Proof of Concept</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-3"><h3>Demonstrate</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-4"><h3>Hardware</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-5"><h3>Lab-book</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-6"><h3>Safety</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-7"><h3>Scaling up</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
            <li class="has-children"><a href="#">Parts</a>
                <ul id="category-parts" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View Parts</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>Basic Parts</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Composite Parts</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-3"><h3>Collection</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-4"><h3>Measurement</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
            <li class="has-children"><a href="#">Modelling</a>
                <ul id="category-modelling" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View Modelling</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>Modelling 1</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Modelling 2</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
            <li class="has-children"><a href="#">Human Practices</a>
                <ul id="category-human-practices" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View Human Practices</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>Our Story</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Silver</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-3"><h3>Gold</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-4"><h3>Integrated Practices</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-5"><h3>Engagement</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-6"><h3>Blog</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-7"><h3>Vlog</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
            <li class="has-children"><a href="#">Entrepreneurship</a>
                <ul id="category-entrepreneurship" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View Entrepreneurship</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>[Placeholder]</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Software</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-3"><h3>AlphaBrick</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-4"><h3>Dental</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
            <li class="has-children"><a href="#">People</a>
                <ul id="category-people" class="cd-nav-icons is-hidden">
                    <li class="go-back"><a href="#">Menu</a></li>
                    <li class="see-all"><a href="#">View People</a></li>
                    <li><a href="#" class="cd-nav-item item-1"><h3>Team</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-2"><h3>Collaborations</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-3"><h3>Sponsors</h3>
                        <p>Some more info goes here...</p></a></li>
                    <li><a href="#" class="cd-nav-item item-4"><h3>Attributions</h3>
                        <p>Some more info goes here...</p></a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="cd-search" class="cd-search">
        <form id="cd-search-form" method="GET"
              action="https://www.google.co.uk/search?q=site:http://2016.igem.org/Team:UCL"><input type="search"
                                                                                                   data-role="none"
                                                                                                   placeholder="Search...">
        </form>
    </div><!-- ----->


    <!-- Content goes here, like so --------block actual-content
        main.cd-main-content
                    .container
                        // ACTUAL CONTENT--><!-- -------------------------------------></div>
</body>
</html>