// Uncomment the templates in {{ }} before publishing to the wiki!

// {{Template:UCL/Dev/TemplateBefore}}

html
    body
        block content
            block actual-content
                main.cd-main-content
                    .container
                        // ACTUAL CONTENT
                        h1 Sample title
                        p Sample paragraph

// {{Template:UCL/Dev/TemplateAfter}}