doctype html
html.no-js(lang='en')

    // Head.
    head
        meta(charset='UTF-8')
        meta(name='keywords', content='iGEM, UCL, 2016, BioSynthAge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/reset.css')
        // CSS reset
        link(rel='stylesheet', href='css/navigation.css')
        // Resource style
        link(rel='stylesheet', href='css/main-content.css')
        // Main-content style
        // Modernizr
        script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
        // LOCAL: <script src="js/modernizr.js"></script>
        title UCL iGEM 2016 | BioSynthAge
        // Favicon
        link(rel='apple-touch-icon', sizes='57x57', href='./img/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='./img/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='./img/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='./img/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='./img/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='./img/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='./img/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='./img/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='./img/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='./img/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='./img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='./img/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='./img/favicon/favicon-16x16.png')
        link(rel='manifest', href='./img/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
        // Footer
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        link(rel='stylesheet', href='css/footer.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
        link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto', rel='stylesheet')

        // TODO: Host all content locally!




    // Body.
    body

        // Header.
        header.cd-main-header
            a.cd-logo(href='#')
                .img
            a.cd-logo.logo-replacer(href='#')
                .img
            ul.cd-header-buttons
                li
                    a.cd-search-trigger(href='#cd-search')
                        | Search
                        span
                li
                    a.cd-nav-trigger(href='#cd-primary-nav')
                        | Menu
                        span
            // cd-header-buttons






        // Content.
        main.cd-main-content
            .container
                // ACTUAL CONTENT
                .grd.p0.m0
                    .grd-row
                        .grd-row-col-1-6
                            .media
                                .media-figure
                                    img(src='./img/sample-content/ucl.jpg', alt='UCL', height='300px')
                        .grd-row-col-5-6
                            .media
                                .media-body
                                    h2.m0.p0 Image with text
                                    p.m0.p0
                                        | Lorem ipsum dolor sit amet, nonumy commune te nam, quod erant tation et qui. Malis civibus perfecto
                                        | usu te. Adhuc idque delenit quo an, duo ad modo omittam deterruisset. Id per duis inimicus aliquando,
                                        | vis ei solet postea definitionem, vim oporteat maiestatis ut. Ius sale consul delicata eu, cu dico
                                        | cetero sit. Ullum vivendo dissentias eam eu.
                .spacer
                .grd.p0.m0
                    .txt--center
                        h2 Columns: you can organise elements on the page.
                    .grd-row.my1
                        .grd-row-col-1-6.bg--light-gray.py1
                            p.m0.p1  Some text here.
                        .grd-row-col-5-6.py1.bg--white
                            p.m0.p1  Some more text here.
                    .grd-row.my1
                        .grd-row-col-3-6.bg--light-gray.py1
                            p.m0.p1  Some text here.
                        .grd-row-col-3-6.py1.bg--white
                            p.m0.p1  Some text here.
                    .grd-row.my1
                        .grd-row-col-4-6.bg--light-gray.py1
                            p.m0.p1  Some text here.
                        .grd-row-col-2-6.py1.bg--white
                            p.m0.p1  Some text here.
                .spacer
                .grd.p0.m0
                    .txt--left
                        h2 Here are some buttons:
                    .grd-row.my0
                        .grd-row-col-4-6.py0
                            a.w100--s.my1.btn(href='#', title='Furtive button example') .btn
                            a.w100--s.my1.btn--blue(href='#', title='Furtive button example') .btn--blue
                            a.w100--s.my1.btn--green(href='#', title='Furtive button example') .btn--green
                            a.w100--s.my1.btn--red(href='#', title='Furtive button example') .btn--red
                            a.w100--s.my1.btn--gray(href='#', title='Furtive button example') .btn--gray
                            a.w100--s.my1.btn--link(href='#', title='Furtive button example') .btn--link
                        .grd-row-col-2-6.py0
                .spacer
                .grd.p0.m0
                    .txt--left
                        h2 Here are some lists:
                    .grd-row.my0
                        .grd-row-col-1-6.py0
                            h3.muted Ordered
                            ol
                                li Apples
                                li Bananas
                                li Oranges






        // ---



        // Navigation.
        .cd-overlay
        nav.cd-nav
            ul#cd-primary-nav.cd-primary-nav.is-fixed
                li.has-children
                    a(href='#') Project
                    ul#category-project.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Project
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Description
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Design
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Notebook
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Glossary
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-5(href='#')
                                h3 Achievements
                                p Some more info goes here...
                li.has-children
                    a(href='#') Lab
                    ul#category-lab.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Lab
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Overview
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Proof of Concept
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Demonstrate
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Hardware
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-5(href='#')
                                h3 Lab-book
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-6(href='#')
                                h3 Safety
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-7(href='#')
                                h3 Scaling up
                                p Some more info goes here...
                li.has-children
                    a(href='#') Parts
                    ul#category-parts.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Parts
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Basic Parts
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Composite Parts
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Collection
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Measurement
                                p Some more info goes here...
                li.has-children
                    a(href='#') Modelling
                    ul#category-modelling.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Modelling
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Modelling 1
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Modelling 2
                                p Some more info goes here...
                li.has-children
                    a(href='#') Human Practices
                    ul#category-human-practices.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Human Practices
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Our Story
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Silver
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Gold
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Integrated Practices
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-5(href='#')
                                h3 Engagement
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-6(href='#')
                                h3 Blog
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-7(href='#')
                                h3 Vlog
                                p Some more info goes here...
                li.has-children
                    a(href='#') Entrepreneurship
                    ul#category-entrepreneurship.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View Entrepreneurship
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 [Placeholder]
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Software
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 AlphaBrick
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Dental
                                p Some more info goes here...
                li.has-children
                    a(href='#') People
                    ul#category-people.cd-nav-icons.is-hidden
                        li.go-back
                            a(href='#') Menu
                        li.see-all
                            a(href='#') View People
                        li
                            a.cd-nav-item.item-1(href='#')
                                h3 Team
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-2(href='#')
                                h3 Collaborations
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-3(href='#')
                                h3 Sponsors
                                p Some more info goes here...
                        li
                            a.cd-nav-item.item-4(href='#')
                                h3 Attributions
                                p Some more info goes here...
        #cd-search.cd-search
            form
                input(type='search', placeholder='Search...')



        // Footer
        footer.footer-distributed
            .footer-left
                h3
                    | BIO
                    span SYNTH
                    | AGE
                p.footer-links
                    a(href='#') Home
                    |             ·
                    a(href='#') Vlog
                    |             ·
                    a(href='#') Demonstration
                    |             ·
                    a(href='#') Team
                    |             ·
                    a(href='#') Contact
                p.footer-company-name BioSynthAge, Evgeny Saveliev © 2016
                .footer-icons
                    a(href='#')
                        i.fa.fa-facebook
                    a(href='#')
                        i.fa.fa-twitter
                    a(href='#')
                        i.fa.fa-linkedin
                    a(href='#')
                        i.fa.fa-github
            .footer-center
                .section.group
                    .col.span_1_of_3
                        span Human Practices
                        div
                            a.std-link(href='#') Silver
                        div
                            a.std-link(href='#') Gold
                        div
                            a.std-link(href='#') Integrated Practices
                        div
                            a.std-link(href='#') Engagement
                    .col.span_1_of_3
                        span Awards
                        div
                            a.std-link(href='#') Entrepreneurship
                        div
                            a.std-link(href='#') Hardware
                        div
                            a.std-link(href='#') Software
                        div
                            a.std-link(href='#') Measurement
                        div
                            a.std-link(href='#') Model
                    .col.span_1_of_3
                        span Find out more
                        div
                            a.std-link(href='#') Safety
                        div
                            a.std-link(href='#') Attributions
                        div
                            a.std-link(href='#') Collaborations
            .footer-right
                div
                    a(href='#')
                        i.fa.circular.fa-map-marker
                    p
                        span University College London, Gower St
                        | London, United Kingdom
                        span WC1E 6BT
                div
                    a(href='#')
                        i.fa.circular.fa-phone
                    p +44 (0)20 7679 2000
                div
                    a(href='#')
                        i.fa.circular.fa-envelope
                    p
                        a(href='mailto:ucligem2016@gmail.com') ucligem2016@gmail.com



        // Scripts
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        // LOCAL: <script src="js/jquery-2.1.1.js"></script>
        script(src='http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css')
        // LOCAL: <script src="js/jquery.mobile.custom.min.js"></script>
        script(src='js/menu.js')
        script(src='js/custom/nav-shrink.js')