// Uncomment the templates in {{ }} before publishing to the wiki!

// {{UCL/TemplateBefore}}

html
    body
        block content
            block actual-content
                main.cd-main-content
                    #main-content-container
                        // The theme starts below this point.
                        #ess-template-page.ess-template-page
                            .container
                            .ess-template-features-grid-section
                                .container
                                    .row
                                        .col-md-6.col-md-offset-3.text-center.ess-template-heading.animate-box
                                            h2 Our Awesome Features
                                            p
                                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                    .row
                                        .col-md-4.animate-box
                                            .features-grid
                                                i.icon-laptop
                                                .desc
                                                    h3 Dashboard
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-4.animate-box
                                            .features-grid
                                                i.icon-server
                                                .desc
                                                    h3 Administration
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-4.animate-box
                                            .features-grid
                                                i.icon-money
                                                .desc
                                                    h3 Make Money
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-4.animate-box
                                            .features-grid
                                                i.icon-tablet
                                                .desc
                                                    h3 SEO Monitoring
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-4.animate-box
                                            .features-grid
                                                i.icon-line-chart
                                                .desc
                                                    h3 Online Marketing
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-4.animate-box
                                            .features-grid
                                                i.icon-pie-chart
                                                .desc
                                                    h3 Business Analytics
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                            .ess-template-boxes-section.ess-template-light-grey-section
                                .container
                                    .row
                                        .col-md-6.col-md-offset-3.text-center.ess-template-heading.animate-box
                                            h2 Latest Projects
                                            p
                                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                    .row
                                        .col-md-4.animate-box
                                            a.item-grid.text-center(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/4/4a/T--UCL---ess-template-image_1.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.category Web Application
                                        .col-md-4.animate-box
                                            a.item-grid.text-center(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/9/9f/T--UCL---ess-template-image_2.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.category User Interface
                                        .col-md-4.animate-box
                                            a.item-grid.text-center(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/0/00/T--UCL--ess-template-image_3.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.category Branded
                                        .col-md-4.animate-box
                                            a.item-grid.text-center(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/2/2b/T--UCL--ess-template-image_4.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.category Web
                                        .col-md-4.animate-box
                                            a.item-grid.text-center(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/6/65/T--UCL--ess-template-image_5.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.category Illustration
                                        .col-md-4.animate-box
                                            a.item-grid.text-center(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/a/a3/T--UCL--ess-template-image_6.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.category Web Application
                                        .col-md-12.text-center.animate-box
                                            p
                                                a.btn.btn-primary.with-arrow(href='#')
                                                    | View More Projects
                                                    i.icon-arrow-right
                            .ess-template-slides-section.ess-template-white-section
                                .container
                                    .row
                                        .col-md-6.col-md-offset-3.text-center.ess-template-heading.animate-box
                                            h2 Clients Feedback
                                            p
                                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                    .row
                                        .col-md-12.col-offset-0.to-animate
                                            .wrap-testimony.animate-box
                                                .owl-carousel-fullwidth
                                                    .item
                                                        .testimony-slide.active.text-center
                                                            figure
                                                                img(src='http://2016.igem.org/wiki/images/f/fc/T--UCL--ess-template-person1.jpg', alt='user')
                                                            blockquote
                                                                p
                                                                    | "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
                                                            span
                                                                | Athan Smith, via
                                                                a.twitter(href='#') Twitter
                                                    .item
                                                        .testimony-slide.active.text-center
                                                            figure
                                                                img(src='http://2016.igem.org/wiki/images/6/67/T--UCL--ess-template-person2.jpg', alt='user')
                                                            blockquote
                                                                p
                                                                    | "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
                                                            span
                                                                | Nathalie Kosley, via
                                                                a.twitter(href='#') Twitter
                                                    .item
                                                        .testimony-slide.active.text-center
                                                            figure
                                                                img(src='http://2016.igem.org/wiki/images/5/51/T--UCL--ess-template-person3.jpg', alt='user')
                                                            blockquote
                                                                p
                                                                    | "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
                                                            span
                                                                | Yanna Kuzuki, via
                                                                a.twitter(href='#') Twitter
                            .ess-template-large-boxes-section.ess-template-light-grey-section
                                .container
                                    .row
                                        .col-md-6.col-md-offset-3.text-center.ess-template-heading.animate-box
                                            h2 Recent from Blog
                                            p
                                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                    .row
                                        .col-md-6.col-sm-6.animate-box
                                            a.item-grid(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/4/4a/T--UCL---ess-template-image_1.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title We Create Mobile App
                                                        h5.date
                                                            span June 23, 2016
                                                            span 4 Comments
                                                        p
                                                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-6.col-sm-6.animate-box
                                            a.item-grid(href='#')
                                                .image(style='background-image: url(http://2016.igem.org/wiki/images/9/9f/T--UCL---ess-template-image_2.jpg)')
                                                .v-align
                                                    .v-align-middle
                                                        h3.title Geographical App
                                                        h5.date
                                                            span June 22, 2016
                                                            span 10 Comments
                                                        p
                                                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        .col-md-12.text-center.animate-box
                                            p
                                                a.btn.btn-primary.with-arrow(href='#')
                                                    | View More Post
                                                    i.icon-arrow-right
                            .ess-template-tall-boxes-section
                                .container
                                    .row
                                        .col-md-6.col-md-offset-3.text-center.ess-template-heading.animate-box
                                            h2 Pricing
                                            p
                                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                    .row
                                        .pricing
                                            .col-md-3.animate-box
                                                .price-box
                                                    h2.pricing-plan Starter
                                                    .price
                                                        sup.currency $
                                                        | 9
                                                        small /month
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                                    a.btn.btn-select-plan.btn-sm(href='#') Select Plan
                                            .col-md-3.animate-box
                                                .price-box
                                                    h2.pricing-plan Basic
                                                    .price
                                                        sup.currency $
                                                        | 27
                                                        small /month
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                                    a.btn.btn-select-plan.btn-sm(href='#') Select Plan
                                            .col-md-3.animate-box
                                                .price-box.popular
                                                    h2.pricing-plan.pricing-plan-offer
                                                        | Pro
                                                        span Best Offer
                                                    .price
                                                        sup.currency $
                                                        | 74
                                                        small /month
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                                    a.btn.btn-select-plan.btn-sm(href='#') Select Plan
                                            .col-md-3.animate-box
                                                .price-box
                                                    h2.pricing-plan Unlimited
                                                    .price
                                                        sup.currency $
                                                        | 140
                                                        small /month
                                                    p
                                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                                    a.btn.btn-select-plan.btn-sm(href='#') Select Plan
                            .ess-template-about.animate-box
                                .col-md-6.col-md-offset-3.text-center.ess-template-heading
                                    h2 Company History
                                    p
                                        | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                .container
                                    .col-md-12.animate-box
                                        figure
                                            img.img-responsive(src='http://2016.igem.org/wiki/images/b/b4/T--UCL---ess-template-about-img.jpg', alt='Free HTML5 Template')
                                    .col-md-12.animate-box
                                        h2 A Startup Company
                                        p
                                            | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
                                        p
                                            a.btn.btn-primary.btn-outline.with-arrow(href='#')
                                                | Learn more 
                                                i.icon-arrow-right
                            .ess-template-team-horizontal.ess-template-light-grey-section
                                .container
                                    .row
                                        .col-md-6.col-md-offset-3.text-center.ess-template-heading.animate-box
                                            h2 The Team
                                            p
                                                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                                    .row
                                        .col-md-4.ess-template-team-member.text-center.animate-box
                                            img.img-limit-height-to-600px.img-responsive(src='http://2016.igem.org/wiki/images/f/fc/T--UCL--ess-template-person1.jpg', alt='Not Found')
                                            h3 Athan Smith
                                            h4 Co-Founder, CEO
                                            p
                                                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                                            ul.ess-template-social
                                                li
                                                    a(href='#')
                                                        i.icon-google
                                                li
                                                    a(href='#')
                                                        i.icon-dribbble
                                                li
                                                    a(href='#')
                                                        i.icon-twitter
                                                li
                                                    a(href='#')
                                                        i.icon-facebook
                                                li
                                                    a(href='#')
                                                        i.icon-instagram
                                        .col-md-4.ess-template-team-member.text-center.animate-box
                                            img.img-limit-height-to-600px.img-responsive(src='http://2016.igem.org/wiki/images/f/fc/T--UCL--ess-template-person1.jpg', alt='Not Found')
                                            h3 Nathalie Kosley
                                            h4 Co-Founder, CTO
                                            p
                                                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                                            ul.ess-template-social
                                                li
                                                    a(href='#')
                                                        i.icon-google
                                                li
                                                    a(href='#')
                                                        i.icon-dribbble
                                                li
                                                    a(href='#')
                                                        i.icon-twitter
                                                li
                                                    a(href='#')
                                                        i.icon-facebook
                                                li
                                                    a(href='#')
                                                        i.icon-instagram
                                        .col-md-4.ess-template-team-member.text-center.animate-box
                                            img.img-limit-height-to-600px.img-responsive(src='http://2016.igem.org/wiki/images/5/51/T--UCL--ess-template-person3.jpg', alt='Not Found')
                                            h3 Yanna Kuzuki
                                            h4 Co-Founder, Principal
                                            p
                                                | Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                                            ul.ess-template-social
                                                li
                                                    a(href='#')
                                                        i.icon-google
                                                li
                                                    a(href='#')
                                                        i.icon-dribbble
                                                li
                                                    a(href='#')
                                                        i.icon-twitter
                                                li
                                                    a(href='#')
                                                        i.icon-facebook
                                                li
                                                    a(href='#')
                                                        i.icon-instagram
                            .ess-template-fixed-bgd-section(style='background-image: url(http://2016.igem.org/wiki/images/b/b3/T--UCL--ess-template-slide_2.jpg);')
                                .overlay
                                .container
                                    .col-md-12.text-center.animate-box
                                        h3 We Try To Update The Site Everyday
                                        p
                                            a.btn.btn-primary.btn-outline.with-arrow(href='#')
                                                | Get started now! 
                                                i.icon-arrow-right

// {{UCL/TemplateAfter}}