// Uncomment the templates in {{ }} before publishing to the wiki!

// {{UCL/TemplateBefore}}

html
    body
        block content
            block actual-content
                main.cd-main-content.ess-menu-bgd-prettify-blue
                    #ess-landing-carousel-container
                        #ess-landing-carousel.owl-carousel.owl-theme
                            .ess-landing-carousel-slide
                                img(src='http://2016.igem.org/wiki/images/4/4a/Ucligemaman.jpg', alt='Image 1')
                            .ess-landing-carousel-slide
                                img(src='http://2016.igem.org/wiki/images/3/3c/Ucligem_coverimage1.jpg', alt='Image 2')
                            .ess-landing-carousel-slide
                                img(src='http://2016.igem.org/wiki/images/a/ac/Ucligem_coverimage2.jpg', alt='Image 3')
                    #main-content-container

// {{UCL/TemplateAfter}}