// Uncomment the templates in {{ }} before publishing to the wiki!

// {{UCL/TemplateBefore}}

html
    body
        block content
            block actual-content
                main.cd-main-content
                    #main-content-container
                        // ACTUAL CONTENT
                        h1 Sample title
                        p Sample paragraph

// {{UCL/TemplateAfter}}