// Footer - used via "insert"

footer#footer.footer-distributed
    .footer-left
        h3
            | BIO
            span SYNTH
            | AGE
        p.footer-company-name BioSynthAge, Evgeny Saveliev, 2016
        .footer-big-link
            a(href='https://www.google.co.uk/maps/place/University+College+London/@51.5245625,-0.1362288,17z/data=!3m1!4b1!4m5!3m4!1s0x48761b2f69173579:0xd008c67faecc133e!8m2!3d51.5245592!4d-0.1340401', target='_blank')
                i.fa.circular.fa-map-marker
            p
                span University College London, Gower St
                | London, United Kingdom
                span WC1E 6BT
        .footer-icons
            a(href='https://www.facebook.com/ucligem', target='_blank')
                i.fa.fa-facebook
            a(href='https://twitter.com/ucligem', target='_blank')
                i.fa.fa-twitter
            a(href='https://www.instagram.com/ucligem/', target='_blank')
                i.fa.fa-instagram
            a(href='https://github.com/DrShushen/ucl-igem-2016-site', target='_blank')
                i.fa.fa-github
            a(href='mailto:ucligem2016@gmail.com')
                i.fa.fa-envelope
    .footer-right
        .footer-section.group
            .col.span_1_of_3
                span Project
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Description') Description
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Model') Modelling
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Parts') Parts
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Notebook') Notebook
            .col.span_1_of_3
                span Human Practices
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Human_Practices') Our Story
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/HP/Gold') Gold
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/HP/Silver') Silver
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Integrated_Practices') Integrated
            .col.span_1_of_3
                span Team
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Team') Team
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Attributions') Attributions
                div
                    a.std-link(href='http://2016.igem.org/Team:UCL/Achievements') Achievements
    //
        .footer-right
            div
                a(href='#')
                    i.fa.circular.fa-map-marker
                p
                    span University College London, Gower St
                    | London, United Kingdom
                    span WC1E 6BT
            div
                a(href='#')
                    i.fa.circular.fa-envelope
                p
                    a(href='mailto:ucligem2016@gmail.com')
                        span ucligem2016
                        span @gmail.com