// Footer - used via "insert"

footer#footer.footer-distributed
    .footer-left
        h3
            | BIO
            span SYNTH
            | AGE
        p.footer-links
            a(href='#') Home
            =' · '
            a(href='#') Vlog
            =' · '
            a(href='#') Demonstration
            =' · '
            a(href='#') Team
            =' · '
            a(href='#') Contact
        p.footer-company-name BioSynthAge, Evgeny Saveliev © 2016
        .footer-icons
            a(href='#')
                i.fa.fa-facebook
            a(href='#')
                i.fa.fa-twitter
            a(href='#')
                i.fa.fa-linkedin
            a(href='#')
                i.fa.fa-github
    .footer-center
        .footer-section.group
            .col.span_1_of_3
                span Human Practices
                div
                    a.std-link(href='#') Silver
                div
                    a.std-link(href='#') Gold
                div
                    a.std-link(href='#') Integrated Practices
                div
                    a.std-link(href='#') Engagement
            .col.span_1_of_3
                span Awards
                div
                    a.std-link(href='#') Entrepreneurship
                div
                    a.std-link(href='#') Hardware
                div
                    a.std-link(href='#') Software
                div
                    a.std-link(href='#') Measurement
                div
                    a.std-link(href='#') Model
            .col.span_1_of_3
                span Find out more
                div
                    a.std-link(href='#') Safety
                div
                    a.std-link(href='#') Attributions
                div
                    a.std-link(href='#') Collaborations
    .footer-right
        div
            a(href='#')
                i.fa.circular.fa-map-marker
            p
                span University College London, Gower St
                | London, United Kingdom
                span WC1E 6BT
        div
            a(href='#')
                i.fa.circular.fa-phone
            p +44 (0)20 7679 2000
        div
            a(href='#')
                i.fa.circular.fa-envelope
            p
                a(href='mailto:ucligem2016@gmail.com') ucligem2016@gmail.com