// Footer - used via "insert"

footer#footer.footer-distributed
    .footer-left
        h3
            | BIO
            span SYNTH
            | AGE
        p.footer-company-name BioSynthAge, Evgeny Saveliev, 2016
        .footer-big-link
            a(href='#')
                i.fa.circular.fa-map-marker
            p
                span University College London, Gower St
                | London, United Kingdom
                span WC1E 6BT
        .footer-icons
            a(href='#')
                i.fa.fa-facebook
            a(href='#')
                i.fa.fa-twitter
            a(href='#')
                i.fa.fa-linkedin
            a(href='#')
                i.fa.fa-github
            a(href='mailto:ucligem2016@gmail.com')
                i.fa.fa-envelope
    .footer-right
        .footer-section.group
            .col.span_1_of_3
                span Project
                div
                    a.std-link(href='#') Description
                div
                    a.std-link(href='#') Modelling
                div
                    a.std-link(href='#') Parts
                div
                    a.std-link(href='#') Notebook
            .col.span_1_of_3
                span Human Practices
                div
                    a.std-link(href='#') Our Story
                div
                    a.std-link(href='#') Gold
                div
                    a.std-link(href='#') Silver
                div
                    a.std-link(href='#') Integrated
            .col.span_1_of_3
                span Team
                div
                    a.std-link(href='#') Team
                div
                    a.std-link(href='#') Attributions
                div
                    a.std-link(href='#') Achievements
    //
        .footer-right
            div
                a(href='#')
                    i.fa.circular.fa-map-marker
                p
                    span University College London, Gower St
                    | London, United Kingdom
                    span WC1E 6BT
            div
                a(href='#')
                    i.fa.circular.fa-envelope
                p
                    a(href='mailto:ucligem2016@gmail.com')
                        span ucligem2016
                        span @gmail.com