doctype html
html.no-js(lang='en')

    // HEAD:
    head
        #head-holder
            #head-to-move
                // FAVICON:
                link(rel='apple-touch-icon', sizes='57x57', href='http://2016.igem.org/wiki/images/a/a3/T--UCL--apple-icon-57x57.png')
                link(rel='apple-touch-icon', sizes='60x60', href='http://2016.igem.org/wiki/images/f/f6/T--UCL--apple-icon-60x60.png')
                link(rel='apple-touch-icon', sizes='72x72', href='http://2016.igem.org/wiki/images/8/80/T--UCL--apple-icon-72x72.png')
                link(rel='apple-touch-icon', sizes='76x76', href='http://2016.igem.org/wiki/images/8/85/T--UCL--apple-icon-76x76.png')
                link(rel='apple-touch-icon', sizes='114x114', href='http://2016.igem.org/wiki/images/c/c8/T--UCL--apple-icon-114x114.png')
                link(rel='apple-touch-icon', sizes='120x120', href='http://2016.igem.org/wiki/images/9/9b/T--UCL--apple-icon-120x120.png')
                link(rel='apple-touch-icon', sizes='144x144', href='http://2016.igem.org/wiki/images/c/cb/T--UCL--apple-icon-144x144.png')
                link(rel='apple-touch-icon', sizes='152x152', href='http://2016.igem.org/wiki/images/6/62/T--UCL--apple-icon-152x152.png')
                link(rel='apple-touch-icon', sizes='180x180', href='http://2016.igem.org/wiki/images/9/96/T--UCL--apple-icon-180x180.png')
                link(rel='icon', type='image/png', sizes='192x192', href='http://2016.igem.org/wiki/images/8/84/T--UCL--android-icon-192x192.png')
                link(rel='icon', type='image/png', sizes='32x32', href='http://2016.igem.org/wiki/images/e/eb/T--UCL--favicon-32x32.png')
                link(rel='icon', type='image/png', sizes='96x96', href='http://2016.igem.org/wiki/images/5/57/T--UCL--favicon-96x96.png')
                link(rel='icon', type='image/png', sizes='16x16', href='http://2016.igem.org/wiki/images/b/b0/T--UCL--favicon-16x16.png')
                meta(name='msapplication-TileImage', content='http://2016.igem.org/wiki/images/6/67/T--UCL--ms-icon-144x144.png')
                meta(name='msapplication-TileColor', content='#ffffff')
                meta(name='theme-color', content='#ffffff')



            // META:
            meta(charset='UTF-8')
            meta(name='keywords', content='iGEM, UCL, 2016, BioSynthAge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            title UCL iGEM 2016 | BioSynthAge



            // TOP LEVEL JS & CSS:
            // ESS loader.
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-loader.css&action=raw&ctype=text/css')
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-loader.js&action=raw&ctype=text/javascript')
            // ESS head setter.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-head-setter.js&action=raw&ctype=text/javascript')
            // ESS link fixer.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-link-fixer.js&action=raw&ctype=text/javascript')
            // iGem style override.
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/igem-override.css&action=raw&ctype=text/css')



            // FONTS:
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/fonts.css&action=raw&ctype=text/css')



            // STYLESHEETS:
            // Footer
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/footer.css&action=raw&ctype=text/css')
            // Reset (used by the menu).
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/reset.css&action=raw&ctype=text/css')
            // Menu.
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/menu.css&action=raw&ctype=text/css')
            // Main content.
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/main-content.css&action=raw&ctype=text/css')
            // Vertical scroll structure.
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.css&action=raw&ctype=text/css')



            // HEAD SCRIPTS:
            // --- LIBRARIES ---
            // jQuery, a jQuery mobile compatible latest version.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery-2.1.4.min.js&action=raw&ctype=text/javascript')
            // jQuery mobile 1.4.5 with theme-less CSS.
            link(rel='stylesheet', href='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.mobile.structure-1.4.5.min.css&action=raw&ctype=text/css')
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.mobile.min.js&action=raw&ctype=text/javascript')
            // Modernizr.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/modernizr.min.js&action=raw&ctype=text/javascript')
            // Page Scroll 2 ID plugin (for vertical scrolling navigation)
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/jquery.malihu.PageScroll2id.min.js&action=raw&ctype=text/javascript')
            // --- CUSTOM ---
            // Search.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/ess-search.js&action=raw&ctype=text/javascript')
            // Vertical scroll structure.
            script(src='http://2016.igem.org/wiki/index.php?title=Team:UCL/Dev/vertical-scroll-structure.js&action=raw&ctype=text/javascript')



            // ADDITIONAL:
            block additional





    // BODY:
    body

        // LOADER:
        #ess-loader-holder
            .ess-loader
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5

        // MAIN BODY:
        #body-loaded
            block content

        // END-OF-BODY SCRIPTS:
        block end-of-body-scripts