// --- Colors, fullPage.js area ---

$color-sec1-bgd: #e7f0f9;         // = $color-main-content-bgd
$color-sec2-bgd: LightSlateGray;
$color-sec3-bgd: Aquamarine;
$color-sec4-bgd: #2e3233;         // =  $color-grey-dark



// --- Fonts ---

$fullPage-primary-font: 'Roboto', sans-serif;



// --- [...] ---

//