@import "../../_shared/scss/variables";



// --- Colors, fullPage.js area ---

$color-sec1-bgd: #e7f0f9; // = $color-main-content-bgd
$color-sec2-bgd: #FFF5EE;//#f0ffff;



// --- Colors, header ---

$color-nav-background: #004574; // blue VI



// --- Fonts ---

$fullPage-primary-font: 'Roboto', sans-serif;



// -- Header-related ---

//



// --- Custom split slide section ---

$slide-section-header-percentage-VAL: 20;
$slide-section-arrows-new-margin-VAL: (100 - $slide-section-header-percentage-VAL) / 2;

$slide-section-header-percentage: 0% + $slide-section-header-percentage-VAL;
$slide-section-content-percentage: 0% + 100 - $slide-section-header-percentage;
$slide-section-arrows-new-y: 100%;
$slide-section-arrows-new-margin: -1 * (0vh + $slide-section-arrows-new-margin-VAL);



// --- Z-index ---

$above-content: 100;



// --- [...] ---

//