// Default flat icons:


$icon-1: url('./page/img/default/line-icon-1.svg');
$icon-2: url('./page/img/default/line-icon-2.svg');
$icon-3: url('./page/img/default/line-icon-3.svg');
$icon-4: url('./page/img/default/line-icon-4.svg');
$icon-5: url('./page/img/default/line-icon-5.svg');
$icon-6: url('./page/img/default/line-icon-6.svg');
$icon-7: url('./page/img/default/line-icon-7.svg');
$icon-8: url('./page/img/default/line-icon-8.svg');
