include ../_shared/shared

head
    block fonts
        // Fonts

        // ---

    block stylesheets
        // STYLESHEETS

        // ---

    block scripts
        // HEADER SCRIPTS - See more scripts in the end of body

        // ---





body

    block content

        // Content

        // ---


    block end-of-body-scripts
        // END OF BODY SCRIPTS
        //script(src='./js/custom/menu.js')