// --- Image links --- //

// Main logo:

//noinspection CssUnknownTarget
$logo: url('http://2016.igem.org/wiki/images/5/57/UCL_logo_biosynthage.png'); // url('../../_shared/img/logos/logo.png');

// Custom flat icons:

// * Project
$icon-achievements: url('http://2016.igem.org/wiki/images/3/3c/UCL_ICON_ACHIEVEMENTS.png'); // url('../../_shared/img/icons/project/icon-achievements.png');
$icon-project-overview: url('http://2016.igem.org/wiki/images/0/00/UCL_ICON_DESCRIPTION.PNG'); // url('../../_shared/img/icons/project/icon-description.png');
$icon-design: url('http://2016.igem.org/wiki/images/f/fe/UCL_ICON_DESIGN.png'); // url('../../_shared/img/icons/project/icon-design.png');
$icon-glossary: url('http://2016.igem.org/wiki/images/6/6d/UCL_ICON_GLOSSARY.png'); // url('../../_shared/img/icons/project/icon-glossary.png');
$icon-notebook: url('http://2016.igem.org/wiki/images/0/04/UCL_ICON_NOTEBOOK.png'); // url('../../_shared/img/icons/project/icon-notebook.png');
$icon-pest-control: url('http://2016.igem.org/wiki/images/d/dd/T--UCL--icon-accelerating-ageing.png'); // url('../../_shared/img/icons/project/icon-accelerating-ageing.png');
$icon-false-teeth: url('http://2016.igem.org/wiki/images/4/40/T--UCL--icon-false-teeth.png'); // url('../../_shared/img/icons/project/icon-false-teeth.png');
$icon-lungs: url('http://2016.igem.org/wiki/images/0/0a/T--UCL--icon-lungs.png'); // url('../../_shared/img/icons/project/icon-lungs.png');
$icon-gut: url('http://2016.igem.org/wiki/images/b/b1/T--UCL--icon-gut.png'); // url('../../_shared/img/icons/project/icon-gut.png');
$icon-heart: url('http://2016.igem.org/wiki/images/2/24/T--UCL--icon-heart.png'); // url('../../_shared/img/icons/project/icon-heart.png');
$icon-lubricant: url('http://2016.igem.org/wiki/images/9/98/T--UCL--icon-lubricant.png'); // url('../../_shared/img/icons/project/icon-lubricant.png');
//$icon-grey-love: url('http://2016.igem.org/wiki/images/2/26/T--UCL--icon-grey-love.png'); // url('../../_shared/img/icons/project/icon-grey-love.png');
//$icon-oxidative-stress: url('http://2016.igem.org/wiki/images/a/a8/T--UCL--icon-oxidative-stress.png'); // url('../../_shared/img/icons/project/icon-oxidative-stress.png');

// * Lab
$icon-demonstrate: url('http://2016.igem.org/wiki/images/e/e4/UCL_ICON_DEMONSTRATE.png'); // url('../../_shared/img/icons/lab/icon-demonstrate.png');
$icon-hardware: url('http://2016.igem.org/wiki/images/e/e4/UCL_ICON_HARDWARE.png'); // url('../../_shared/img/icons/lab/icon-hardware.png');
$icon-lab-book: url('http://2016.igem.org/wiki/images/b/bc/UCL_ICON_LABBOOK.png'); // url('../../_shared/img/icons/lab/icon-lab-book.png');
$icon-lab-overview: url('http://2016.igem.org/wiki/images/f/f7/UCL_ICON_OVERVIEW.png'); // url('../../_shared/img/icons/lab/icon-overview.png');
$icon-proof-of-concept: url('http://2016.igem.org/wiki/images/a/a8/UCL_ICON_PROOFOFCONCEPT.png'); // url('../../_shared/img/icons/lab/icon-proof-of-concept.png');
$icon-safety: url('http://2016.igem.org/wiki/images/a/a3/UCL_ICON_SAFETY.png'); // url('../../_shared/img/icons/lab/icon-safety.png');
$icon-scaling-up: url('http://2016.igem.org/wiki/images/7/77/UCL_ICON_SCALINGUP.png'); // url('../../_shared/img/icons/lab/icon-scaling-up.png');
$icon-results: url('http://2016.igem.org/wiki/images/1/1a/T--UCL--icon-results.png'); // url('../../_shared/img/icons/lab/icon-results.png');
$icon-protocol: url('http://2016.igem.org/wiki/images/2/25/T--UCL--icon-protocol.png'); // url('../../_shared/img/icons/lab/icon-protocol.png');

// * Parts
$icon-parts-overview: url('http://2016.igem.org/wiki/images/2/22/T--UCL--icon-parts-overview.png'); // url('../../_shared/img/icons/parts/icon-parts-overview.png');
$icon-basic: url('http://2016.igem.org/wiki/images/b/bd/UCL_ICON_BASIC.png'); // url('../../_shared/img/icons/parts/icon-basic.png');
$icon-collection: url('http://2016.igem.org/wiki/images/9/9d/UCL_ICON_COLLECTION.png'); // url('../../_shared/img/icons/parts/icon-collection.png');
$icon-composite: url('http://2016.igem.org/wiki/images/8/83/UCL_ICON_COMPOSITE.png'); // url('../../_shared/img/icons/parts/icon-composite.png');

// * Modelling - no sub-pages.
//$icon-modelling-2: url('http://2016.igem.org/wiki/images/4/47/UCL_ICON_MODELLING_2.png'); // url('../../_shared/img/icons/modelling/icon-modelling-2.png');

// * Human Practices
$icon-blog: url('http://2016.igem.org/wiki/images/9/9e/T--UCL--icon_blog.png'); // url('../../_shared/img/icons/human_practices/icon-blog.png');
$icon-engagement: url('http://2016.igem.org/wiki/images/d/da/T--UCL--icon_engagement.png'); // url('../../_shared/img/icons/human_practices/icon-engagement.png');
$icon-gold: url('http://2016.igem.org/wiki/images/0/04/T--UCL--icon_gold.png'); // url('../../_shared/img/icons/human_practices/icon-gold.png');
$icon-integrated-practices: url('http://2016.igem.org/wiki/images/f/fd/T--UCL--icon-integrated_practices.png'); // url('../../_shared/img/icons/human_practices/icon-integrated-practices.png');
$icon-our-story: url('http://2016.igem.org/wiki/images/c/c3/T--UCL--icon-our-story.png'); // url('../../_shared/img/icons/human_practices/icon-our-story.png');
$icon-silver: url('http://2016.igem.org/wiki/images/7/7d/T--UCL--icon-silver.png'); // url('../../_shared/img/icons/human_practices/icon-silver.png');
$icon-vlog: url('http://2016.igem.org/wiki/images/5/53/T--UCL--icon-vlog.png'); // url('../../_shared/img/icons/human_practices/icon-vlog.png');

// * Entrepreneurship
$icon-alphabrick: url('http://2016.igem.org/wiki/images/3/3f/T--UCL--icon_alphabrick.png'); // url('../../_shared/img/icons/entrepreneurship/icon-alphabrick.png');
$icon-dental: url('http://2016.igem.org/wiki/images/a/a3/T--UCL--icon_dental.png'); // url('../../_shared/img/icons/entrepreneurship/icon-dental.png');
$icon-entrepreneurship-general: url('http://2016.igem.org/wiki/images/4/4c/T--UCL--icon_entrepreneurship_general.png'); // url('../../_shared/img/icons/entrepreneurship/icon-entrepreneurship-general.png');
$icon-software: url('http://2016.igem.org/wiki/images/d/d3/T--UCL--icon_software.png'); // url('../../_shared/img/icons/entrepreneurship/icon-software.png');

// * People
$icon-attributions: url('http://2016.igem.org/wiki/images/9/9e/UCL_ICON_ATTRIBUTIONS.png'); // url('../../_shared/img/icons/people/icon-attributions.png');
$icon-collaborations: url('http://2016.igem.org/wiki/images/4/48/UCL_ICON_COLLABS.png'); // url('../../_shared/img/icons/people/icon-collaborations.png');
$icon-sponsors: url('http://2016.igem.org/wiki/images/f/f7/UCL_ICON_SPONSORS.png'); // url('../../_shared/img/icons/people/icon-sponsors.png');
$icon-team: url('http://2016.igem.org/wiki/images/2/2b/UCL_ICON_TEAM2.png'); // url('../../_shared/img/icons/people/icon-team.png');