// --- Colors, general ---

$color-grey-very-dark: #1b1d1e; // grey very dark
$color-grey-dark: #2e3233;      // grey dark
$color-grey-less-dark: #454545; // grey less dark
$color-grey-medium: #7b7b7b;    // grey medium
$color-grey-light: #e2e3df;     // grey light
$color-blue-base: #284cb9;      // blue base colour
$color-blue-I: #004574;         // blue I
$color-blue-II: #1d3c61;        // blue II
$color-blue-III: #43ceff;       // blue III
$color-blue-IV: #0100dd;        // blue IV
$color-blue-V: #5591d3;         // blue V
$color-blue-VI: #004574;        // blue VI
$color-white: #ffffff;          // white
$color-black: #000000;          // black





// --- iGem wiki fix related ---

$search-lower: 16px;
$nav-trigger-higher: 2px;




// --- Main content parameters ---

// Colors:

$color-main-content-bgd: #e7f0f9; // very subtle blue

// Positional:

$main-content-min-height: 80vh;
$main-content-padding-tb: 6rem;
$main-content-padding-rl: 8rem;





// --- Fonts ---

$main-content-font: 'Open Sans', sans-serif;




// --- Header size ---

$header-height-S: 70px;
$header-height-L: 90px;





// --- Logo ---

// Adaptation to varied logo sizes
$logo-height-int: 45;
$nav-items-y-adj: 0px;// - $subtraction-factor;

$logo-y-S-adj: $header-height-S / 2 - ($logo-height-int + 0px) / 2;
$logo-y-L-adj: $header-height-L / 2 - ($logo-height-int + 0px) / 2;

// Logo width
$logo-width: 250px;
$logo-move-left-adjust: -1*$logo-width/2;





// --- Navigation size ---

$nav-width-S: 260px;





// --- Navigation settings ---

$nav-menu-links-offset: 80px;
$nav-menu-link-gap: 12px;
$nav-menu-buttons-offset: $nav-menu-link-gap * 2;

$nav-menu-buttons-height: 44px;

$nav-menu-buttons-top-L: $header-height-L / 2 - $nav-menu-buttons-height / 2;
$nav-menu-buttons-top-S: $header-height-S / 2 - $nav-menu-buttons-height / 2;





// --- Search size ---

$search-height-S: 50px;
$search-height-L: 60px;





// --- Menu Slide-out Timing ---

$menu-slideout-timing: .3s;





// --- Z-index ---

$z-below-content: 1;
$z-content: 2;
$z-just-above: 3;
$z-at-overlay: 4;
$z-above-content: 5;