// Landing carousel styling.

#ess-landing-carousel-container {
  /*
  .owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
  }

  .owl-theme .owl-buttons i{
    margin-top: 2px;
  }

  //To move navigation buttons outside use these settings:

  .owl-theme .owl-controls .owl-buttons div {
    position: absolute;
  }

  .owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -45px;
    top: 55px;
  }

  .owl-theme .owl-controls .owl-buttons .owl-next{
    right: -45px;
    top: 55px;
  }
  */

  .owl-theme {
    .owl-controls {
      .owl-nav {
        i {
          transition: all .3s; //////////////////////////////
          font-size: 3em;
          opacity: 0.7;
        }
        i:hover {
          transition: all .3s; ////////////////////////////////
          font-size: 3.3em;
          opacity: 1;
        }
        i:active {
          transition: all .3s; ////////////////////////////////
          font-size: 3em;
          opacity: 1;
          color: grey; /////////////////////////////
        }
      }
      .owl-prev, .owl-next {
        background: transparent;
        position: absolute;
        bottom: 52%;
      }
      .owl-prev {
        left: 0.5em;
      }
      .owl-next {
        right: 0.5em;
      }

      .owl-dots {
        position: relative;
        top: -30px;
      }
    }
  }

}