// Main content theme: Flew-based.
// Corresponding JS.



// Fonts
$font-primary: 'Open Sans', sans-serif; //'Raleway', Arial, sans-serif;

// Images
$loader-image: url(http://2016.igem.org/wiki/images/f/f6/T--UCL--ess-template-loader.gif);

// Fix related.
// HAVE COUNTERPARTS IN _variables.scss:
$main-content-padding-tb: 6rem;
$main-content-padding-rl: 8rem;
$main-content-color-main-content-bgd-old: #e7f0f9;

// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #004574;//#27E1CE !default;
$brand-secondary: #ff9c00;//#3f95ea !default;

$brand-white: #ffffff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

// Custom responsive
$MQ_S: 480px;
$MQ_L: 1270px;


//<editor-fold desc="Mixins">
/* -----------------------------------------------------------

Mixins

------------------------------------------------------------*/

@mixin ess-template-translate($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}
@mixin transition($transition) {
  -moz-transition:    all $transition ease;
  -o-transition:      all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: 		all $transition ease;
  transition:         all $transition ease;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

//<editor-fold desc="Font Face">
/*
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon/icomoon.eot?srf3rx');
  src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
  url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
//</editor-fold>

@mixin icomoon() {

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

// Import
@import 'bootstrap/mixins';
@import 'bootstrap/variables';
//</editor-fold>

//<editor-fold desc="Owl Carousel">
/* -----------------------------------------------------------

Owl Carousel

------------------------------------------------------------*/

.ess-template-page, #ess-template-page {
  .owl-carousel .owl-controls .owl-dot {
    margin-top: 30px;
    span {
      background: lighten($brand-black, 90%);
      &:hover, &:focus {
        background: lighten($brand-black, 80%);
      }
    }
    &:hover, &:focus {
      span {
        background: lighten($brand-black, 80%);
      }
    }
    &.active {
      span {
        background: transparent;
        border: 2px solid $brand-primary;
      }
    }
  }
}
//</editor-fold>



// Scrolling issue fix.
#bodyContent {
  overflow: hidden;
}
// --------------------

/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */

// Template Base
body {
  // Theme namespace.
  .ess-template-page, #ess-template-page {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #7f7f7f;
    //background: #fff;
    height: 100%;
    position: relative;
  }
}

// Theme namespace.
.ess-template-page, #ess-template-page {

  a {
    // Fix
    cursor: pointer;
    // ---
    color: $brand-primary;
    @include transition(.5s);
    &:hover, &:active, &:focus {
      color: $brand-primary;
      outline: none;
    }
  }
  p {
    margin-bottom: 30px;
  }

  // Fix
  div.text-center {
    p {
      text-align: center;
    }
  }
  // ---

  // Fix
  margin-top: -$main-content-padding-tb!important;
  margin-right: -$main-content-padding-rl;
  margin-bottom: -$main-content-padding-tb;
  margin-left: -$main-content-padding-rl;
  // ---

  h1, h2, h3, h4, h5, h6, figure {
    color: $brand-black;
    font-family: $font-primary;
    font-weight: 400;
    margin: 0 0 30px 0;
  }

  //noinspection CssInvalidPseudoSelector
  ::-webkit-selection {
    color: $brand-white;
    background: $brand-primary;
  }

  ::-moz-selection {
    color: $brand-white;
    background: $brand-primary;
  }
  ::selection {
    color: $brand-white;
    background: $brand-primary;
  }



  /* -----------------------
  Bootstrap extensions
  ------------------------*/

  .img-responsive {
    margin-left: auto;
    margin-right: auto;
  }
  .img-limit-height-to-600px {
    max-height: 600px;
  }

  .container-extended {
    .row {
      margin-left: 45px;
      margin-right: 45px;
    }
  }

  .video-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    video {
      -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
      -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.3);

      max-width: 100%;
    }
  }

  // -----------------------


  // Buttons
  .btn {
    // Fix
    cursor: pointer;
    padding: 10px 20px;
    // ---
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    @include border-radius(30px);
    @include transition(.5s);
    &.btn-md {
      padding: 10px 20px !important;
    }
    &.btn-lg {
      padding: 18px 36px !important;
    }
    &:hover, &:active, &:focus {
      box-shadow: none !important;
      outline: none !important;
    }
  }
  .btn-primary {
    // Fix
    cursor: pointer;
    // ---
    background: $brand-primary;
    color: $brand-white;
    border: 2px solid $brand-primary;
    &:hover, &:focus, &:active {
      // Fix
      color: $brand-white;
      // ---
      background: lighten($brand-primary, 5%) !important;
      border-color: lighten($brand-primary, 5%) !important;
    }
    &.btn-outline {
      background: transparent;
      color: $brand-primary;
      border: 2px solid $brand-primary;
      &:hover, &:focus, &:active {
        background: $brand-primary;
        color: $brand-white;
      }
    }
  }
  .btn-success {
    // Fix
    cursor: pointer;
    // ---
    background: $brand-success;
    color: $brand-white;
    border: 2px solid $brand-success;
    &:hover, &:focus, &:active {
      // Fix
      color: $brand-white;
      // ---
      background: darken($brand-success, 5%) !important;
      border-color: darken($brand-success, 5%) !important;
    }
    &.btn-outline {
      background: transparent;
      color: $brand-success;
      border: 2px solid $brand-success;
      &:hover, &:focus, &:active {
        background: $brand-success;
        color: $brand-white;
      }
    }
  }
  .btn-info {
    // Fix
    cursor: pointer;
    // ---
    background: $brand-info;
    color: $brand-white;
    border: 2px solid $brand-info;
    &:hover, &:focus, &:active {
      // Fix
      color: $brand-white;
      // ---
      background: darken($brand-info, 5%) !important;
      border-color: darken($brand-info, 5%) !important;
    }
    &.btn-outline {
      background: transparent;
      color: $brand-info;
      border: 2px solid $brand-info;
      &:hover, &:focus, &:active {
        background: $brand-info;
        color: $brand-white;
      }
    }
  }
  .btn-warning {
    // Fix
    cursor: pointer;
    // ---
    background: $brand-warning;
    color: $brand-white;
    border: 2px solid $brand-warning;
    &:hover, &:focus, &:active {
      // Fix
      color: $brand-white;
      // ---
      background: darken($brand-warning, 5%) !important;
      border-color: darken($brand-warning, 5%) !important;
    }
    &.btn-outline {
      background: transparent;
      color: $brand-warning;
      border: 2px solid $brand-warning;
      &:hover, &:focus, &:active {
        background: $brand-warning;
        color: $brand-white;
      }
    }
  }
  .btn-danger {
    // Fix
    cursor: pointer;
    // ---
    background: $brand-danger;
    color: $brand-white;
    border: 2px solid $brand-danger;
    &:hover, &:focus, &:active {
      // Fix
      color: $brand-white;
      // ---
      background: darken($brand-danger, 5%) !important;
      border-color: darken($brand-danger, 5%) !important;
    }
    &.btn-outline {
      background: transparent;
      color: $brand-danger;
      border: 2px solid $brand-danger;
      &:hover, &:focus, &:active {
        background: $brand-danger;
        color: $brand-white;
      }
    }
  }

  .btn-outline {
    // Fix
    cursor: pointer;
    // ---
    background: none;
    border: 2px solid lighten($brand-black, 50%);
    font-size: 16px;
    @include transition(.3s);
    &:hover, &:focus, &:active {
      box-shadow: none;
    }
  }

  .btn.with-arrow {
    // Fix
    cursor: pointer;
    // ---
    position: relative;
    @include transition(.3s);
    i {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      right: 0px;
      top: 50%;
      margin-top: -8px;
      @include transition(.2s);
    }
    &:hover {
      padding-right: 50px;
      i {
        color: $brand-white;
        right: 18px;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  // Form Input Field
  .form-control {
    box-shadow: none;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    height: 54px;
    font-size: 18px;
    font-weight: 300;
    &:active, &:focus {
      outline: none;
      box-shadow: none;
      border-color: $brand-primary;
    }
  }

  .ess-template-social {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      @include inline-block;
      a {

        font-size: 22px;
        color: $brand-white;
        padding: 0;
        margin: 0;
        // background: $brand-primary;
        padding: 2px;
        @include inline-block;
        @include border-radius(7px);
        @media screen and (max-width: $screen-sm) {
        }
        &:hover {
          color: $brand-primary;
        }
        &:hover, &:active, &:focus {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }

  //<editor-fold desc="Pre-commented 1">
  // .ess-template-feature {
  // 	text-align: left;
  // 	width: 100%;
  // 	float: left;
  // 	.ess-template-icon {
  // 		float: left;
  // 		width: 10%;
  // 		display: block;
  // 		margin-top: 5px;
  // 		i {
  // 			color: $brand-primary;
  // 			font-size: 40px;
  // 		}
  // 	}
  // 	.ess-template-text {
  // 		float: right;
  // 		width: 82%;
  // 		@media screen and (max-width: $screen-sm) {
  // 			width: 82%;
  // 		}
  // 		@media screen and (max-width: $screen-xs) {
  // 			width: 72%;
  // 		}
  // 		h2, h3 {
  // 			margin: 0;
  // 			padding: 0;
  // 		}
  // 		h3 {
  // 			font-weight: 300;
  // 			margin-bottom: 10px;
  // 			color: rgba(255,255,255,.8);
  // 			font-size: 20px;
  // 		}
  // 		h2 {
  // 			font-size: 16px;
  // 			letter-spacing: 2px;
  // 			font-weight: bold;
  // 			text-transform: uppercase;
  // 		}
  // 	}
  // }
  //</editor-fold>

  // Helper Class
  .col-xxs-12 {
    @media screen and (max-width: 480px) {
      float: none;
      width: 100%;
    }
  }
  .row-bottom-padded-lg {
    padding-bottom: 7em;
    @media screen and (max-width: $screen-sm) {
      padding-bottom: 1em;
    }
  }
  .row-bottom-padded-md {
    padding-bottom: 4em;
    @media screen and (max-width: $screen-sm) {
      padding-bottom: 1em;
    }
  }
  .row-bottom-padded-sm {
    padding-bottom: 1em;
    @media screen and (max-width: $screen-sm) {
      padding-bottom: 1em;
    }
  }

  #ess-template-header {
    // position: absolute;
    // z-index: 1001;
    width: 100%;
    margin: 0;
    @media screen and (max-width: $screen-sm) {
      margin: 0px 0 0 0;
    }
    .header-inner {
      height: 80px;
      padding-left: 20px;
      padding-right: 20px;
      // background: rgba(255, 255, 255, .8);
      float: left;
      width: 100%;
      @include border-radius(7px);
    }
    h1 {
      float: left;
      padding: 0;
      font-weight: 700;
      line-height: 0;
      font-size: 30px;
      a {
        position: relative;
        color: rgba(0, 0, 0, 1);
        > span {
          color: $brand-primary;
        }
        &:hover, &:active, &:focus {
          text-decoration: none;
          outline: none;
        }
        &:after {
          position: absolute;
          bottom: 6px;
          right: -8px;
          content: '';
          width: 8px;
          height: 8px;
          background: $brand-primary;
          @include border-radius(50%);

        }

      }

    }
    h1, nav {
      margin: 38px 0 0 0;
    }

    nav {
      float: right;
      padding: 0;
      @media screen and (max-width: $screen-sm) {
        display: none;
      }
      ul {
        padding: 0;
        margin: 0 -0px 0 0;
        line-height: 0;
        li {
          padding: 0;
          margin: 0;
          list-style: none;
          @include inline-block;

          a {
            color: rgba($brand-black, .7);
            font-size: 18px;
            padding: 10px;
            position: relative;
            @include transition(.2s);
            i {
              line-height: 0;
              font-size: 20px;
              position: relative;
              top: 3px;
            }
            &:after {
              content: "";
              position: absolute;
              height: 2px;
              bottom: 7px;
              left: 10px;
              right: 10px;
              background-color: $brand-primary;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              -moz-transform: scaleX(0);
              -ms-transform: scaleX(0);
              -o-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
              -moz-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
              -ms-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
              -o-transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
              transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
            }
            &:hover {
              text-decoration: none;
              color: rgba($brand-primary, 1);

              &:after {
                visibility: visible;
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
            &:active, &:focus {
              outline: none;
              text-decoration: none;
            }
          }
          &.cta {
            margin-left: 20px;
            a {
              padding-left: 16px !important;
              padding-right: 16px !important;
              padding-top: 7px !important;
              padding-bottom: 7px !important;
              border: 2px solid rgba($brand-primary, 1);
              color: $brand-primary;
              @include border-radius(30px);
              &:hover {
                color: $brand-white;
                background: $brand-primary;
                &:after {
                  display: none;
                }
              }
            }
          }
          &.active {
            a {
              text-decoration: none;
              color: rgba($brand-black, .8);

              &:after {
                visibility: visible;
                -webkit-transform: scaleX(1);
                -moz-transform: scaleX(1);
                -ms-transform: scaleX(1);
                -o-transform: scaleX(1);
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }

  #ess-template-hero {
    min-height: 700px;
    background: $brand-white $loader-image no-repeat center center;
    .btn {
      font-size: 24px;
      &.btn-primary {
        padding: 14px 30px !important;
      }
    }
    .flexslider {
      border: none;

      z-index: 1;
      margin-bottom: 0;

      .slides {
        // margin-top: -5em;

        position: relative;
        overflow: hidden;
        li {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          min-height: 700px;

        }
      }
      .flex-control-nav {
        // bottom: 200px;
        // bottom: 20%;
        bottom: 40px;
        z-index: 1000;
        li {
          a {
            background: rgba(255, 255, 255, .2);
            box-shadow: none;
            width: 12px;
            height: 12px;
            cursor: pointer;
            &.flex-active {
              cursor: pointer;
              background: rgba(255, 255, 255, .7);
            }
          }
        }
      }
      .flex-direction-nav {
        display: none;
      }
      .slider-text {
        display: table;
        opacity: 0;
        min-height: 700px;
        > .slider-text-inner {
          display: table-cell;
          vertical-align: middle;
          min-height: 700px;
          h2 {
            font-size: 70px;
            font-weight: 400;
            color: $brand-white;
            @media screen and (max-width: $screen-sm) {
              font-size: 40px;
            }
          }
          .ess-template-lead {
            font-size: 20px;
            color: $brand-white;
            .icon-heart {
              color: $brand-danger;
            }
          }
        }
      }
    }
  }

  .ess-template-features-grid-section, .ess-template-boxes-section, .ess-template-slides-section,
  .ess-template-large-boxes-section, .ess-template-general-section {
    padding: 7em 0;
    @media screen and (max-width: $screen-sm) {
      padding: 3em 0;
    }
  }

  .ess-template-general-section {
    @media screen and (max-width: $screen-md) {
      .row {
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }

  .ess-template-features-grid-section {
    .features-grid {
      position: relative;
      i {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 40px;
        color: $brand-primary;
      }
      .desc {
        padding-left: 70px;
        h3 {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }

  .ess-template-services {
    margin-top: 4em;
  }

  .ess-template-boxes-section {

    // Custom height fix.
    .height-fix {
      @media screen and (max-width: $MQ_S) {
        min-height: initial;
      }
      min-height:545px;
    }

    .item-grid {
      width: 100%;
      float: left;
      position: relative;
      background: $brand-white;
      margin-bottom: 50px;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      @include transition(.3s);
      top: 2px;
      .image {
        // width: 100%;
        // float: left;
        height: 300px;
        overflow: hidden;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center center;
      }
      .v-align {
        padding: 30px;
        h3 {
          font-weight: 700;
          font-size: 20px;
        }
        h5 {
          color: rgba($brand-black, .3);
        }
      }
      &:hover, &:focus {
        text-decoration: none;
        -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        top: -2px;
      }
    }
  }

  .wrap-testimony {
    position: relative;
    width: 100%;

    .testimony-slide {
      text-align: center;
      overflow: hidden;
      span {
        font-size: 18px;
        a.twitter {
          color: $brand-primary;
          font-weight: 300;
        }
      }

      figure {
        margin-bottom: 20px;
        @include inline-block;

        img {
          width: 120px;
          height: 120px;
          @include border-radius(50%);
        }
      }

      blockquote {
        border: none;
        margin: 0 auto;
        width: 72%;
        position: relative;
        padding-bottom: 30px;

        @media screen and (max-width: $screen-md) {
          width: 100%;
        }

        p {
          font-size: 20px;
          line-height: 1.6em;
          color: lighten($brand-black, 10%);
        }
      }

      &.active {
        display: block;
      }
    }
  }

  .ess-template-large-boxes-section {
    .item-grid {
      width: 100%;
      float: left;
      position: relative;
      background: $brand-white;
      margin-bottom: 50px;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      @include transition(.3s);
      top: 2px;
      .image {
        // width: 100%;
        // float: left;
        height: 400px;
        overflow: hidden;
        margin-bottom: 20px;
        background-size: cover;
        background-position: center center;
      }
      .v-align {
        padding: 30px;
        h3 {
          font-weight: 700;
          font-size: 20px;
        }
        h5 {
          color: rgba($brand-black, .3);
        }
        p {
          color: lighten($brand-black, 50%);
        }
      }
      &:hover, &:focus {
        text-decoration: none;
        -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        top: -2px;
      }
    }
  }

  .item-block {
    margin-bottom: 7em;
    float: left;
    .icon {
      display: block;
      margin-bottom: 30px;
      img {
        max-width: inherit;
        height: 90px;
        margin: 0 auto;
      }
    }
    h3 {
      font-size: 20px;
      font-weight: 700;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  //<editor-fold desc="Pre-commented 2">
  // #ess-template-why-us, .ess-template-services {
  // 	// background: #eff6fc;
  // 	padding: 7em 0;
  // 	@media screen and (max-width: $screen-sm) {
  // 		padding: 3em 0;
  // 	}

  // 	.item-block {
  // 		margin-bottom: 7em;
  // 		float: left;
  // 		.icon {
  // 			display: block;
  // 			margin-bottom: 30px;
  // 			img {
  // 				max-width: inherit;
  // 				height: 90px;
  // 				margin: 0 auto;
  // 			}
  // 		}
  // 		h3 {
  // 			font-size: 20px;
  // 		}
  // 		p {
  // 			&:last-child {
  // 				margin-bottom: 0;
  // 			}
  // 		}
  // 	}
  // }
  //</editor-fold>

  .ess-template-heading {
    margin-bottom: 30px;
    h2 {
      margin-bottom: 20px;
      font-weight: 700;
    }
  }
  .ess-template-general {
    margin-bottom: 30px;
    h1, h2 {
      margin-bottom: 20px;
      font-weight: 700;
    }
    .row {
      margin-bottom: 30px;
    }
  }

  // Custom
  .ess-side-by-side {

    /*
    .ess-template-team-member {
      margin-bottom: 2.5em;
    }
    */

    .row {
      display: flex;
      align-items: center;
    }

    .ess-side-by-side-item {
      display: block;
    }

    @media screen and (max-width: $screen-md) {
      .row, .ess-side-by-side-item {
        display: block;
      }
    }

  }

  //<editor-fold desc="Pre-commented 3">
  // .ess-template-section-with-image {
  // 	position: relative;
  // 	.ess-template-box {
  // 		padding: 50px;
  // 		background: rgba(255,255,255,.9);
  // 		position: absolute;
  // 		z-index: 1001;
  // 		width: 40%;
  // 		right: 10%;
  // 		top: 50%;
  // 		@media screen and (max-width: $screen-md) {
  // 			position: relative;
  // 			right: auto;
  // 			bottom: auto;
  // 			width: 100%;
  // 			margin-top: auto!important;
  // 		}
  // 		@media screen and (max-width: $screen-xs) {
  // 			position: relative;
  // 			right: auto;
  // 			bottom: auto;
  // 			width: 100%;
  // 			padding: 15px;
  // 		}
  // 	}
  // 	h2 {
  // 		font-size: 50px;
  // 		margin-bottom: 20px;
  // 		@media screen and (max-width: $screen-sm) {
  // 			font-size: 32px;
  // 		}
  // 	}
  // 	p {
  // 		font-size: 20px;
  // 		@media screen and (max-width: $screen-sm) {
  // 			font-size: 16px;
  // 		}
  // 		&:last-child {
  // 			margin-bottom: 0;
  // 		}
  // 	}
  // }

  // #ess-template-testimonial {
  // 	background: $brand-white;
  // 	padding: 7em 0;
  // 	@media screen and (max-width: $screen-sm) {
  // 		padding: 3em 0;
  // 	}

  // 	.item-block {
  // 		margin-bottom: 30px;

  // 		blockquote {
  // 			margin-bottom: 70px;
  // 			position: relative;
  // 			border-left: none;
  // 			padding: 20px 20px 20px 20px;
  // 			background: $brand-white;
  // 			float: left;
  // 			width: 100%;
  // 			@include border-radius(10px);
  // 			-webkit-box-shadow: 0px 15px 95px 5px rgba(0,0,0,0.06);
  // 			-moz-box-shadow: 0px 15px 95px 5px rgba(0,0,0,0.06);
  // 			-ms-box-shadow: 0px 15px 95px 5px rgba(0,0,0,0.06);
  // 			-o-box-shadow: 0px 15px 95px 5px rgba(0,0,0,0.06);
  // 			box-shadow: 0px 15px 95px 5px rgba(0,0,0,0.06);
  // 			p {
  // 				font-size: 18px;
  // 				line-height: 1.7;
  // 				color: $brand-black;
  // 				margin-bottom: 10px;
  // 				&:last-child {
  // 					margin-bottom: 0;
  // 				}
  // 			}
  // 			.ess-template-author {
  // 				color: lighten($brand-black, 70%);
  // 				font-size: 16px;
  // 				cite {
  // 					font-style: normal;
  // 				}
  // 			}
  // 		}
  // 		.icon {
  // 			margin-top: 7px;
  // 		}
  // 	}

  // }
  //</editor-fold>
  .googleplus-color {
    color: #dc4e41;
  }
  .facebook-color {
    color: #3b5998;
  }
  .twitter-color {
    color: #55acee;
  }

  .ess-template-about,
  .ess-template-team,
  .ess-template-team-horizontal,
  .ess-template-contact {
    padding: 7em 0;
    @media screen and (max-width: $screen-sm) {
      padding: 3em 0 10px 0;
    }
  }

  .contact-info {
    margin-bottom: 4em;
    padding: 0;
    li {

      list-style: none;
      margin: 0 0 20px 0;
      position: relative;
      padding-left: 40px;

      i {
        position: absolute;
        top: .3em;
        left: 0;
        font-size: 22px;
        color: $brand-primary;
      }
      a {
        color: $brand-primary;
      }

    }
  }

  #map {
    height: 500px;
    width: 100%;
    @media screen and (max-width: $screen-sm) {
      height: 400px;
    }
    @media screen and (max-width: $screen-xs) {
      height: 200px;
    }
  }

  .ess-template-team-member {

    img {
      margin-bottom: 1.5em;
    }
    h3 {
      margin: 0 0 20px 0;
      font-weight: 700;
      font-size: 20px;
    }
    h4 {
      margin: 0 0 20px 0;
      font-weight: 400;
      color: rgba(0, 0, 0, .4);
    }
    .ess-template-social {
      text-align: center;
      a {
        color: $brand-black;
      }
    }

    // Fix
    @media screen and (max-width: $screen-md) {
      margin-bottom: 1.5em;
    }
    // ---

  }

  // Custom
  .ess-template-team-horizontal {

    .ess-template-team-member {
      margin-bottom: 2.5em;
    }

    .row {
      display: flex;
      align-items: center;
    }

    .ess-template-team-member {
      display: block;
      img {
        margin-bottom: 0;
      }
    }

    @media screen and (max-width: $screen-md) {
      .row, .ess-template-team-member {
        display: block;
      }
    }

  }

  //<editor-fold desc="Pre-commented 4">
  // #ess-template-grid-products {
  // 	background: #ecf1f5;
  // 	padding: 7em 0 0px 0;
  // 	float: left;
  // 	width: 100%;
  // 	@media screen and (max-width :$screen-sm) {
  // 		padding: 3em 0 10px 0;
  // 	}
  // 	.v-align {
  // 		display: table;
  // 		height: 100%;
  // 		width: 100%;
  // 		background: rgba(0,0,0,.1);
  // 		position: relative;
  // 		@include transition(.5s);
  // 		.v-align-middle {
  // 			display: table-cell;
  // 			vertical-align: middle;
  // 			text-align: center;
  // 			h3 {
  // 				color: rgba(255,255,255,1);
  // 				margin-bottom: 10px;
  // 				font-size: 24px;
  // 				// text-transform: uppercase;
  // 			}
  // 			h5 {
  // 				color: rgba(255,255,255,.8);
  // 				font-size: 16px;
  // 			}
  // 		}
  // 	}

  // 	.col-1, .col-2 {
  // 		float: left;
  // 		width: 50%;
  // 		@media screen and (max-width: $screen-sm) {
  // 			width: 100%;
  // 		}
  // 	}
  // 	.col-1 {
  // 		border-right: 5px solid #ecf1f5;
  // 		@media screen and (max-width: $screen-sm) {
  // 			border-right: none;
  // 		}
  // 		&.reverse {
  // 			float: right!important;
  // 			border-right: none!important;
  // 			border-left: 5px solid #ecf1f5;
  // 			@media screen and (max-width: $screen-sm) {
  // 				border-left: none;
  // 			}
  // 		}
  // 	}
  // 	.col-2 {
  // 		float: right;
  // 		border-left: 5px solid #ecf1f5;
  // 		@media screen and (max-width: $screen-sm) {
  // 			border-left: none;
  // 		}
  // 		&.reverse {
  // 			float: left!important;
  // 			border-left: none!important;
  // 			border-right: 5px solid #ecf1f5;
  // 			@media screen and (max-width: $screen-sm) {
  // 				border-right: none;
  // 			}
  // 		}
  // 	}
  // 	.item-grid {
  // 		width: 100%;
  // 		float: left;
  // 		background-size: cover;
  // 		background-position: center center;
  // 		text-decoration: none;
  // 		border-bottom: 10px solid #ecf1f5;
  // 		.icon {
  // 			@include transition(.5s);
  // 		}
  // 		.title, .icon, .category {
  // 			top: 50px;
  // 			position: relative;
  // 			opacity: 0;
  // 			visibility: hidden;
  // 		}
  // 		.title {
  // 			@include transition(.8s);
  // 		}
  // 		.category {
  // 			@include transition(.8s);
  // 		}

  // 		&:hover {
  // 			text-decoration: none!important;
  // 			.icon, .title, .category {
  // 				top: 0;
  // 				opacity: 1;
  // 				visibility: visible;
  // 			}
  // 			.v-align {
  // 				background: rgba(0,0,0,.4);
  // 			}

  // 		}

  // 		.icon {
  // 			display: block;
  // 			background: $brand-white;
  // 			width: 90px;
  // 			height: 90px;
  // 			margin: 0 auto 30px auto;
  // 			padding-top: 19px;
  // 			@include border-radius(50%);
  // 			img {
  // 				max-width: inherit;
  // 				height: 50px;
  // 				margin: 0 auto;
  // 			}
  // 		}

  // 	}
  // 	.one, .three {
  // 		height: 450px;
  // 		@media screen and (max-width: $screen-sm) {
  // 			height: 450px;
  // 		}
  // 	}

  // 	.two {
  // 		height: 900px;
  // 		@media screen and (max-width: $screen-sm) {
  // 			height: 450px;
  // 			border-top: 5px solid #ecf1f5;
  // 			background-position: top left;
  // 		}

  // 	}
  // 	.one {
  // 		border-bottom: 5px solid #ecf1f5;
  // 	}
  // 	.three {
  // 		border-top: 5px solid #ecf1f5;
  // 		@media screen and (max-width: $screen-sm) {
  // 			border-bottom: 5px solid #ecf1f5;
  // 		}
  // 	}
  // }

  // #ess-template-blog {
  // 	padding: 7em 0;
  // 	position: relative;
  // 	clear: both;
  // 	background: lighten($brand-black, 97%);
  // 	@media screen and (max-width: $screen-sm) {
  // 		padding: 3em 0;
  // 	}
  // 	.ess-template-entry {
  // 		margin-bottom: 30px;
  // 		float: left;
  // 		figure{
  // 			margin-bottom: 0px;
  // 			@include transition(.5s);
  // 			img {
  // 				max-width: 100%;
  // 			}
  // 		}

  // 		.ess-template-date {
  // 			display: block;
  // 			margin-bottom: 15px;
  // 			font-size: 12px;
  // 			text-transform: uppercase;
  // 			letter-spacing: 2px;
  // 			font-weight: bold;
  // 			color: lighten($brand-black, 70%);
  // 		}
  // 		.ess-template-copy {
  // 			padding: 30px;
  // 			background: $brand-white;
  // 		}
  // 		h3 {
  // 			margin-bottom: 10px;
  // 			line-height: 1.5;
  // 			color: $brand-primary;
  // 		}
  // 		p {
  // 			color: lighten($brand-black, 60%);
  // 			&:last-child {
  // 				margin-bottom: 0;
  // 			}
  // 		}
  // 		&:hover {
  // 			figure {
  // 				opacity: .9;
  // 			}
  // 		}
  // 		&:hover, &:active, &:focus {
  // 			text-decoration: none!important;
  // 			p, figure, h3, span {
  // 				text-decoration: none!important;
  // 			}
  // 		}
  // 	}
  // }
  //</editor-fold>

  .ess-template-fixed-bgd-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 7em 0;
    position: relative;
    @media screen and (max-width: $screen-sm) {
      padding: 3em 0;
    }
    .overlay {
      background: rgba(0, 0, 0, .7);
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      position: absolute;
      z-index: 1;
    }
    .container {
      position: relative;
      z-index: 2;
    }
    p, h1, h3, h2 {
      color: $brand-white;
      margin-bottom: 0!important;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .btn {
      color: $brand-white;
    }
  }

  #ess-template-footer {
    padding: 7em 0;
    float: left;
    width: 100%;
    position: relative;
    background: lighten($brand-black, 15%);
    @media screen and (max-width: $screen-sm) {
      padding: 3em 0;
    }
    h2, h3, h4 {
      color: $brand-white;
    }
    h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      font-weight: bold;
    }
    [class*="col"] {
      padding-bottom: 30px;
    }
    .btn {
      color: $brand-white;
    }
    .float {
      float: left;
      margin-right: 10%;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0 0 10px 0;
        list-style: none;
        a {
          color: rgba(255, 255, 255, .5);
          text-decoration: none !important;
          &:hover {
            color: $brand-white;
          }
        }
      }
    }
    .ess-template-social {
      li {
        display: block !important;
      }
    }
  }

  .ess-template-copyright {
    border-top: 1px solid rgba(255, 255, 255, .1);
    clear: both;
    margin-top: 40px !important;
    padding: 40px 0 0 0;
    span {
      display: block;
    }
    @media screen and (max-width: $screen-xs) {
      text-align: left !important;
      span {
        display: inline;
      }
    }
  }

  .ess-template-page, #ess-template-page {
    position: relative;
    z-index: 2;
    background: $brand-white;
  }
  // Offcanvas Menu
  #ess-template-offcanvas, .ess-template-nav-toggle, .ess-template-page, #ess-template-page {
    @include transition(.5s);
  }
  #ess-template-offcanvas, .ess-template-nav-toggle, .ess-template-page, #ess-template-page {
    position: relative;
  }
  .ess-template-page, #ess-template-page {
    z-index: 2;
    @include transition(.5s);
    .offcanvas-visible & {
      @include ess-template-translate(-275px);
    }
  }

  #ess-template-offcanvas {
    display: none;
    height: 100%;
    right: 0;
    overflow-y: auto;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 275px;
    background: rgba(0, 0, 0, 1);
    padding: 30px;
    @media screen and (max-width: $screen-sm) {
      display: block;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        padding: 0;
        margin: 0 0 10px 0;
        list-style: none;
        line-height: 28px;
        a {
          font-size: 18px;
          color: rgba(255, 255, 255, .7);
          text-decoration: none !important;
          &:hover {
            color: $brand-primary;
          }
        }
        &.active {
          a {
            color: $brand-primary;
          }
        }
        &.cta {
          margin-left: 0;
          margin-top: 20px;
          display: block;
          float: left;
          a {
            padding-left: 16px !important;
            padding-right: 16px !important;
            padding-top: 7px !important;
            padding-bottom: 7px !important;
            border: 2px solid rgba(255, 255, 255, .7);

            @include border-radius(30px);
            &:hover {
              background: $brand-white;
              text-decoration: none;
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }

  }

  // Burger Menu
  .ess-template-nav-toggle {
    cursor: pointer;
    text-decoration: none;
    &.active i {
      &::before, &::after {
        background: $brand-white;
      }
    }
    &.dark {
      &.active i {
        &::before, &::after {
          background: $brand-white;
        }
      }
    }
    &:hover, &:focus, &:active {
      outline: none;
      border-bottom: none !important;
    }
    i {
      position: relative;
      @include inline-block;
      width: 30px;
      height: 2px;
      color: $brand-white;
      font: bold 14px/.4 Helvetica;
      text-transform: uppercase;
      text-indent: -55px;
      background: $brand-black;
      transition: all .2s ease-out;
      &::before, &::after {
        content: '';
        width: 30px;
        height: 2px;
        background: $brand-black;
        position: absolute;
        left: 0;
        @include transition(.2s);
      }
    }
    &.dark {
      i {
        position: relative;
        color: $brand-black;
        background: $brand-black;
        transition: all .2s ease-out;
        &::before, &::after {
          background: $brand-black;
          @include transition(.2s);
        }
      }
    }
  }

  .ess-template-nav-toggle i::before {
    top: -7px;
  }
  .ess-template-nav-toggle i::after {
    bottom: -7px;
  }
  .ess-template-nav-toggle:hover i::before {
    top: -10px;
  }
  .ess-template-nav-toggle:hover i::after {
    bottom: -10px;
  }
  .ess-template-nav-toggle.active i {
    background: transparent;
  }
  .ess-template-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
  .ess-template-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
  }
  .ess-template-nav-toggle {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    display: none;
    cursor: pointer;
    @media screen and (max-width: $screen-sm) {
      display: block;
      top: 20px;
    }

  }

  // Sections
  .ess-template-tall-boxes-section {
    padding: 7em 0;
    background: lighten($brand-black, 99%);
    @media screen and (max-width: $screen-sm) {
      padding: 3em 0;
    }
    .pricing {
      display: block;
      float: left;
      margin-bottom: 30px;
    }
    .price-box {
      text-align: center;
      padding: 30px;
      background: $brand-white;
      margin-bottom: 40px;
      position: relative;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.11);
      top: 2px;
      @include transition(.3s);

      &.popular {
        .btn-select-plan {
          background: $brand-primary;
        }
        .price {
          color: $brand-primary;
        }
      }

      .btn-select-plan {
        padding: 10px 20px;
        background: $brand-info;
        color: $brand-white;

      }
      &:hover, &:focus {
        -webkit-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        box-shadow: 0px 14px 25px -2px rgba(0, 0, 0, 0.14);
        top: -2px;
      }
    }
    .pricing-plan {
      margin: 0 0 50px 0;
      padding: 0;
      font-size: 13px;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 700;
      color: #888f94;

      &.pricing-plan-offer {
        margin-bottom: 24px;
      }

      span {
        display: block;
        margin-top: 10px;
        margin-bottom: 0;
        color: #d5d8db;
      }
    }
    .price {
      font-size: 72px;
      color: #6d6d6d;
      line-height: 50px;
      .currency {
        font-size: 30px;
        top: -0.9em;
        padding-right: 10px;
      }
      small {
        font-size: 13px;
        display: block;
        text-transform: uppercase;
        color: #888f94;
      }
    }
  }

  .ess-template-light-grey-section {
    background: rgba($brand-black, .03) !important;
  }
  .ess-template-standard-background-section {
    background-color: transparent;
  }
  .ess-template-white-section {
    background: $brand-white;
  }
  .ess-template-light-blue-section {
    background: $main-content-color-main-content-bgd-old;
  }

  // Animate Box
  .animate-box {
    .js & {
      opacity: 0;
    }
  }

}