// http://bourbon.io/
@import 'bourbon/_bourbon';

// shared variables
@import 'variables';

// shared layout
@import 'layout';

// shared image urls
@import 'images';
// image urls
@import 'images';

/* --------------------------------

High level settings.

-------------------------------- */

// Compensation for "fixed" top bar.
.cd-main-content {
  padding-top: $header-height-S;
  @include MQ(L) {
    padding-top: $header-height-L;
  }
}

// High level variables.
.cd-main-content {

  // Various.
  position: relative;
  background: $color-main-content-bgd;
  z-index: $z-content;

  // Ensure min height, such that the footer is always a footer.
  min-height: $main-content-min-height;

  // Owl.
  #ess-landing-carousel .owl-controls {
    background-color: $color-main-content-bgd;
  }

}

// Menu background prettifiers.
.ess-menu-bgd-prettify-blue {
  background-color: $color-blue-I;
}
.ess-menu-bgd-prettify-white {
  background-color: $color-white;
}
.ess-menu-bgd-prettify-light-gray {
  background-color: rgba($color-black, .03);
}
.ess-menu-bgd-prettify-light-blue {
  background-color: $color-main-content-bgd-old;
}




/* --------------------------------

Overriding Flew.

-------------------------------- */
.js-fh5co-nav-toggle, .fh5co-nav-toggle {
  display: none!important;
}





/* --------------------------------

Main content style.

-------------------------------- */

#HQ_page .cd-main-content, .cd-main-content {

  // overrides:
  font-family: $main-content-font;
  font-size: 1.6rem;
  line-height: 1.4em;
  div, p, span, h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
  }

  .media-figure {

    img {
      -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
    }

    &.small {
      width: 200px;
      max-height: 200px;
    }

    &.medium {
      width: 300px;
      max-height: 300px;
    }

    &.large {
      width: 400px;
      max-height: 400px;
    }

  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  ol li {
    font-size: 1.6rem;

    list-style-type: decimal;
    margin-left: 1.6rem;
  }

  ul {
    font-size: 1.6rem;

    li {
      list-style-type: disc;
      margin-left: 1.6rem;
    }
    ul li {
      list-style-type: circle;
      margin-left: 2.8rem;
    }
  }

  #main-content-container {
    margin: 0;

    background-color: $color-main-content-bgd;

    padding-top: $main-content-padding-tb;
    padding-bottom: $main-content-padding-tb;
    padding-right: $main-content-padding-rl;
    padding-left: $main-content-padding-rl;
  }

  #ess-landing-carousel-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  // Table

  table.ess-table {
    a {
      -webkit-transition: all 0.15s;
      -moz-transition: all 0.15s;
      -ms-transition: all 0.15s;
      -o-transition: all 0.15s;
      transition: all 0.15s;
    }
    a:link {
      color: #666;
      font-weight: bold;
      text-decoration:none;
    }
    a:visited {
      color: #999999;
      font-weight:bold;
      text-decoration:none;
    }
    a:active,
    a:hover {
      color: $color-blue-I;
      text-decoration:underline;
    }

    // table level.
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:12px;
    text-shadow: 1px 1px 0px #fff;
    background:#eaebec;
    margin:20px;
    border:#ccc 1px solid;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
    
    border-collapse: separate;
    // ---

    th {
      padding:21px 25px 22px 25px;
      border-top:1px solid #fafafa;
      border-bottom:1px solid #e0e0e0;
      border-right: 0;

      background: #ededed;
      background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
      background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
    }
    th:first-child {
      text-align: left;
      padding-left:20px;
    }
    tr:first-child th:first-child {
      -moz-border-radius-topleft:5px;
      -webkit-border-top-left-radius:5px;
      border-top-left-radius:5px;
    }
    tr:first-child th:last-child {
      -moz-border-radius-topright:5px;
      -webkit-border-top-right-radius:5px;
      border-top-right-radius:5px;
    }
    tr {
      text-align: center;
      padding-left:20px;
    }
    td:first-child {
      text-align: left;
      padding-left:20px;
      border-left: 0;
    }
    td {
      padding:18px;
      border-top: 1px solid #ffffff;
      border-bottom:1px solid #e0e0e0;
      border-left: 1px solid #e0e0e0;
      border-right: 0;

      background: #fafafa;
      background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
      background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
    }
    tr.even td {
      background: #f6f6f6;
      background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
      background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
    }
    tr:last-child td {
      border-bottom:0;
    }
    tr:last-child td:first-child {
      -moz-border-radius-bottomleft:5px;
      -webkit-border-bottom-left-radius:5px;
      border-bottom-left-radius:5px;
    }
    tr:last-child td:last-child {
      -moz-border-radius-bottomright:5px;
      -webkit-border-bottom-right-radius:5px;
      border-bottom-right-radius:5px;
    }
    tr:hover td {
      background: #f2f2f2;
      background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
      background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
    }
  }

  // ---

}