// http://bourbon.io/
@import 'bourbon/_bourbon';

// shared variables
@import 'variables';

// shared layout
@import 'layout';

// shared image urls
@import 'images';
// image urls
@import 'images';

/* --------------------------------

High level settings.

-------------------------------- */

// Compensation for "fixed" top bar.
.cd-main-content {
  padding-top: $header-height-S;
  @include MQ(L) {
    padding-top: $header-height-L;
  }
}

// High level variables.
.cd-main-content {

  // Various.
  position: relative;
  background: $color-main-content-bgd;
  z-index: $z-content;

  // Ensure min height, such that the footer is always a footer.
  min-height: $main-content-min-height;

  // Owl.
  #ess-landing-carousel .owl-controls {
    background-color: $color-main-content-bgd;
  }

}

// Menu background prettifiers.
.ess-menu-bgd-prettify-blue {
  background-color: $color-blue-I;
}
.ess-menu-bgd-prettify-white {
  background-color: $color-white;
}
.ess-menu-bgd-prettify-light-gray {
  background-color: rgba($color-black, .03);
}
.ess-menu-bgd-prettify-light-blue {
  background-color: $color-main-content-bgd-old;
}




/* --------------------------------

Overriding Flew.

-------------------------------- */
.js-fh5co-nav-toggle, .fh5co-nav-toggle {
  display: none!important;
}





/* --------------------------------

Main content style.

-------------------------------- */

#HQ_page .cd-main-content, .cd-main-content {

  // overrides:
  font-family: $main-content-font;
  font-size: 1.6rem;
  line-height: 1.4em;
  div, p, span, h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
  }
  
  .media-figure {

    img {
      -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    }

    &.small {
      width: 200px;
      max-height: 200px;
    }

    &.medium {
      width: 300px;
      max-height: 300px;
    }

    &.large {
      width: 400px;
      max-height: 400px;
    }

  }

  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  ol li {
    font-size: 1.6rem;

    list-style-type: decimal;
    margin-left: 1.6rem;
  }

  ul {
    font-size: 1.6rem;

    li {
      list-style-type: disc;
      margin-left: 1.6rem;
    }
    ul li {
      list-style-type: circle;
      margin-left: 2.8rem;
    }
  }

  #main-content-container {
    margin: 0;

    background-color: $color-main-content-bgd;

    padding-top: $main-content-padding-tb;
    padding-bottom: $main-content-padding-tb;
    padding-right: $main-content-padding-rl;
    padding-left: $main-content-padding-rl;
  }

  #ess-landing-carousel-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}