// Import.

@import 'bourbon/bourbon';
@import 'layout';
@import 'variables';
@import 'vertical-scroll-structure-variables';



// Navigation menu.

#vertical-scroll-nav {

  // Moving out with nav fix.

  &.nav-is-visible {
    right: $nav-section-from-right-S-moved;

    /* Force Hardware Acceleration in WebKit */
    @include transform(translateZ(0));

    @include transition(right $menu-slideout-timing);
  }

  // ---

  position: fixed;
  top: $vertical-scroll-section-nav-y-S;
  right: $nav-section-from-right-S;
  left: auto;
  bottom: auto;
  z-index: $z-just-above;
  text-shadow: none;
  color: $color-white;
  margin-top: 5px;

  /* Force Hardware Acceleration in WebKit */
  @include transform(translateZ(0));

  @include transition(right $menu-slideout-timing);

  ul {
    overflow: hidden;
    background: $color-grey-medium;

    -moz-border-radius: $nav-section-radius;
    -webkit-border-radius: $nav-section-radius;
    border-radius: $nav-section-radius;

    text-align: center;
    width: $nav-section-width;
  }

  li {
    margin: 3px;
  }

  a {

    @include transition(all 0.3s ease);

    color: $color-white;

    display: block;
    padding: 0.2em 0.6em;

    -moz-border-radius: $nav-section-radius;
    -webkit-border-radius: $nav-section-radius;
    border-radius: $nav-section-radius;

  }

  a:hover, a.mPS2id-clicked {

    @include transition(all 0.3s ease);

    background: $color-blue-I;

  }

  a.mPS2id-highlight {

    @include transition(all 0.3s ease);

    background: $color-blue-base;

  }

  @include MQ(L) {
    top: $vertical-scroll-section-nav-y-L;
    right: $nav-section-from-right-L;
  }

  // Responsive classes.
  ul.desktop {
    .vertical-scroll-nav-chevron {
      cursor: pointer;
      display: none;
    }
  }
  ul.mobile {

    width: 3.1rem;
    .vertical-scroll-nav-chevron {
      cursor: pointer;
      display: block;
    }
    .vertical-scroll-nav-chevron:hover {
      background-color: $color-blue-I;
    }
    li {
      display: none;
    }

    &.pressed {
      width: $nav-section-width;
      li {
        display: block;
      }
      .vertical-scroll-nav-chevron:hover {
        background-color: $color-grey-medium;
      }
    }

  }

}



// Sections.

#main-content-container {

  .vertical-scroll-section {

    padding-top: $vertical-scroll-section-y-adj-S;
    @include MQ(L) {
      padding-top: $vertical-scroll-section-y-adj-L;
    }

    min-height: $vertical-scroll-section-min-height;

    padding-right: 0;
    @include MQ(M) {
      padding-right: $vertical-scroll-section-padding-extra;
    }

  }

  .vertical-scroll-section:nth-child(even) {
    //background-color: red;
  }
  .vertical-scroll-section:nth-child(odd) {
    //background-color: blue;
  }

}